<app-navbar-en></app-navbar-en>






<header>
    <div class="background"></div>
    <div class="mask">
        <div class="container">
            <div class="context typewriter">
                <h1><span>Alumni</span></h1>
                <button class="btn btn-warning"><a target="_blank" href="https://web.facebook.com/%D9%85%D9%84%D8%AA%D9%82%D9%89-%D8%AE%D8%B1%D9%8A%D8%AC%D9%8A-%D8%AC%D8%A7%D9%85%D8%B9%D8%A9-%D8%A7%D9%84%D8%B9%D9%82%D8%A8%D8%A9-%D9%84%D9%84%D8%AA%D9%83%D9%86%D9%88%D9%84%D9%88%D8%AC%D9%8A%D8%A7-100216201941449">AUT Alumni Forum</a></button>
                <button class="btn btn-warning"><a target="_blank" href="{{flipedBook.book}}">{{flipedBook.name_english}}</a></button>
            </div>
        </div>
    </div>
    <div class="arrow"></div>
</header>















<div class="gallary">
    <div class="container">
        <!-- <youtube-player [videoId]="id" (ready)="savePlayer($event)" (change)="onStateChange($event)"></youtube-player> -->

        <div>
                    <video width="100%" controls style="display: block; margin: auto;">
            <source src="../../../../assets/videos/كوكبة من خريجي جامعة العقبة للتكنولوجيا.mp4" type="video/mp4">
          </video>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="btn-list">
            <div class="row">
                <div class="col-md-6">
                    <h4>{{selectedAlbum}} Album</h4>

                </div>
                <div class="col-md-6">
                    <div>
                        <button class="btn btn-warning" style="margin-right: 7px;"
                            *ngFor="let album of albums"
                            (click)="getImages(album.id)">{{album.album_english}}</button>

                    </div>

                </div>
            </div>
            <hr class="hr">

        </div>


        <div class="row">
            <div class="col-lg-3 col-md-4 pic" data-toggle="modal" data-target=".bd-example-modal-lg"
                *ngFor="let picture of pictures" (click)="selected = picture.image">
                <img src="{{picture.image}}" alt="">
            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="{{selected}}" alt="">
        </div>
    </div>
</div>



<app-footer-en></app-footer-en>
