<app-navbar-ar></app-navbar-ar>




<header>
    <div class="background"></div>
    <div class="mask">
        <div class="container">
            <div class="context typewriter">
                <h1><span>الإلتحاق بالجامعة</span></h1>
            </div>
        </div>
    </div>
    <div class="arrow"></div>
</header>



<div class="one_forms">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>المعلومات الشخصية</h2>
                <form>
                    <div class="form-group">
                        <label for="name">الأسم الكامل <span *ngIf="name == '' || name == undefined"><i style="color: red;" class="fas fa-circle"></i></span><span *ngIf="name != '' && name != undefined"><i style="color: rgb(13, 255, 0);" class="fas fa-circle"></i></span></label>
                        <input type="text" [(ngModel)]="name" name='name' class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="number">الرقم الوطني / رقم جواز السفر</label>
                        <input type="text" [(ngModel)]="national_or_passport_number"
                            name="national_or_passport_number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="place">مكان الولادة  <span *ngIf="place_of_birth == '' || place_of_birth == undefined"><i style="color: red;" class="fas fa-circle"></i></span><span *ngIf="place_of_birth != '' && place_of_birth != undefined"><i style="color: rgb(13, 255, 0);" class="fas fa-circle"></i></span></label>
                        <input type="text" class="form-control" [(ngModel)]="place_of_birth"
                            name="place_of_birth">
                    </div>
                    <div class="form-group">
                        <label for="date">تاريخ الولادة  <span *ngIf="date_of_birth == '' || date_of_birth == undefined"><i style="color: red;" class="fas fa-circle"></i></span><span *ngIf="date_of_birth != '' && date_of_birth != undefined"><i style="color: rgb(13, 255, 0);" class="fas fa-circle"></i></span></label>
                        <input type="text" class="form-control" [(ngModel)]="date_of_birth"
                            name="date_of_birth">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">الجنس  <span *ngIf="gender == '' || gender == undefined"><i style="color: red;" class="fas fa-circle"></i></span><span *ngIf="gender != '' && gender != undefined"><i style="color: rgb(13, 255, 0);" class="fas fa-circle"></i></span></label>
                        <select class="form-control" [(ngModel)]="gender" name="gender">
                            <option value="Male">ذكر</option>
                            <option value="Female">أنثى</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="nationality">الجنسية  <span *ngIf="nationality == '' || nationality == undefined"><i style="color: red;" class="fas fa-circle"></i></span><span *ngIf="nationality != '' && nationality != undefined"><i style="color: rgb(13, 255, 0);" class="fas fa-circle"></i></span></label>
                        <input type="text" class="form-control" [(ngModel)]="nationality" name="nationality">
                    </div>

                    <!-- <div class="form-group">
                        <label for="exampleFormControlSelect2">الديانة</label>
                        <select class="form-control" [(ngModel)]="religion" name="religion">
                            <option value="Islam">مسلم</option>
                            <option value="Christianity">مسيحي</option>
                            <option value="Other">أخرى</option>
                        </select>
                    </div> -->
                    <!-- <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> -->
                </form>
            </div>

            <div class="col-md-6">
                <h2>عنوان المرسل</h2>
                <form>
                    <div class="form-group">
                        <label for="mailing">عنوان المراسل</label>
                        <input type="text" class="form-control" [(ngModel)]="mailing_address"
                            name="mailing_address">
                        <small id="emailHelp" class="form-text text-muted">داخل / خارج الاردن....</small>
                    </div>
                    <div class="form-group">
                        <label for="email">البريد الالكتروني  <span *ngIf="email == '' || email == undefined"><i style="color: red;" class="fas fa-circle"></i></span><span *ngIf="email != '' && email != undefined"><i style="color: rgb(13, 255, 0);" class="fas fa-circle"></i></span></label>
                        <input type="email" class="form-control" [(ngModel)]="email" name="email">
                    </div>


                    <div class="form-group">
                        <label for="phone">رقم الهاتف المحمول  <span *ngIf="phone == '' || phone == undefined"><i style="color: red;" class="fas fa-circle"></i></span><span *ngIf="phone != '' && phone != undefined"><i style="color: rgb(13, 255, 0);" class="fas fa-circle"></i></span></label>
                        <input type="text" class="form-control" [(ngModel)]="phone" name="phone">
                    </div>


                    <!-- <div class="form-group">
                        <label for="fix">رقم هاتف الأرضي</label>
                        <input type="text" class="form-control" [(ngModel)]="telephone_fix"
                            name="telephone_fix">
                    </div>

                    <div class="form-group">
                        <label for="fax">رقم الفاكس</label>
                        <input type="text" class="form-control" [(ngModel)]="fax" name="fax">
                    </div> -->


                </form>
            </div>
        </div>
    </div>

</div>













<div class="two_forms">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>معلومات ولي الأمر</h2>
                <form>
                    <div class="form-group">
                        <label for="Breadwinnername">أسم ولي الأمر  <span *ngIf="breadwinner_name == '' || breadwinner_name == undefined"><i style="color: red;" class="fas fa-circle"></i></span><span *ngIf="breadwinner_name != '' && breadwinner_name != undefined"><i style="color: rgb(13, 255, 0);" class="fas fa-circle"></i></span></label>
                        <input type="text" class="form-control" [(ngModel)]="breadwinner_name"
                            name="breadwinner_name">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect2">صلة القرابة  <span *ngIf="relative_relation == '' || relative_relation == undefined"><i style="color: red;" class="fas fa-circle"></i></span><span *ngIf="relative_relation != '' && relative_relation != undefined"><i style="color: rgb(13, 255, 0);" class="fas fa-circle"></i></span></label>
                        <select class="form-control" [(ngModel)]="relative_relation" name="relative_relation">
                            <option value="Father">أب</option>
                            <option value="Mother">أم</option>
                            <option value="Other">أخرى</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="number">الرقم الوطني / رقم جواز السفر</label>
                        <input type="text" class="form-control"
                            [(ngModel)]="breadwinner_national_or_passport_number"
                            name="breadwinner_national_or_passport_number">
                    </div>


                    <div class="form-group">
                        <label for="bphone">رقم الهاتف <span *ngIf="breadwinner_phone == '' || breadwinner_phone == undefined"><i style="color: red;" class="fas fa-circle"></i></span><span *ngIf="breadwinner_phone != '' && breadwinner_phone != undefined"><i style="color: rgb(13, 255, 0);" class="fas fa-circle"></i></span></label>
                        <input type="text" class="form-control" [(ngModel)]="breadwinner_phone"
                            name="breadwinner_phone">
                    </div>



                    <!-- <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> -->
                </form>
            </div>

            <!-- <div class="col-md-6">
                <h2>أشخاص معرفين</h2>
                <form>
                    <div class="form-group">
                        <label for="name1">الأسم</label>
                        <input type="text" class="form-control" [(ngModel)]="knowen_people_one_name"
                            name="knowen_people_one_name">
                    </div>
                    <div class="form-group">
                        <label for="phone2">الهاتف</label>
                        <input type="text" class="form-control" [(ngModel)]="knowen_people_one_phone"
                            name="knowen_people_one_phone">
                    </div>


                    <div class="form-group">
                        <label for="name2">الأسم</label>
                        <input type="text" class="form-control" [(ngModel)]="knowen_people_two_name"
                            name="knowen_people_two_name">
                    </div>
                    <div class="form-group">
                        <label for="phone3">الهاتف</label>
                        <input type="text" class="form-control" [(ngModel)]="knowen_people_two_phone"
                            name="knowen_people_two_phone">
                    </div>


                </form>
            </div> -->

            <div class="col-md-6">
                <h2 style="margin-top: 20px;">الثانوية العامة</h2>
                <form>
                    <div class="form-group">
                        <label for="mailing">بلد الاصدار <span *ngIf="high_school_country == '' || high_school_country == undefined"><i style="color: red;" class="fas fa-circle"></i></span><span *ngIf="high_school_country != '' && high_school_country != undefined"><i style="color: rgb(13, 255, 0);" class="fas fa-circle"></i></span></label>
                        <input type="text" class="form-control" [(ngModel)]="high_school_country"
                            name="high_school_country">
                    </div>
                    <div class="form-group">
                        <label for="branch">فرع الثانوية <span *ngIf="high_school_branch == '' || high_school_branch == undefined"><i style="color: red;" class="fas fa-circle"></i></span><span *ngIf="high_school_branch != '' && high_school_branch != undefined"><i style="color: rgb(13, 255, 0);" class="fas fa-circle"></i></span></label>
                        <input type="text" class="form-control" [(ngModel)]="high_school_branch"
                            name="high_school_branch">
                    </div>


                    <div class="form-group">
                        <label for="phone">المعدل <span *ngIf="high_school_average == '' || high_school_average == undefined"><i style="color: red;" class="fas fa-circle"></i></span><span *ngIf="high_school_average != '' && high_school_average != undefined"><i style="color: rgb(13, 255, 0);" class="fas fa-circle"></i></span></label>
                        <input type="text" class="form-control" [(ngModel)]="high_school_average"
                            name="high_school_average">
                    </div>


                    <div class="form-group">
                        <label for="fix">سنة الشهادة <span *ngIf="high_school_year == '' || high_school_year == undefined"><i style="color: red;" class="fas fa-circle"></i></span><span *ngIf="high_school_year != '' && high_school_year != undefined"><i style="color: rgb(13, 255, 0);" class="fas fa-circle"></i></span></label>
                        <input type="text" class="form-control" [(ngModel)]="high_school_year"
                            name="high_school_year">
                    </div>

                    <div class="form-group">
                        <label for="fax">المدرسة</label>
                        <input type="text" class="form-control" [(ngModel)]="high_school_name"
                            name="high_school_name">
                    </div>


                </form>
            </div>

            <div class="col-md-6">
                <h2 style="margin-top: 20px;">الوثائق</h2>
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">كشف الثانوية العامة</label>
                        <input type="file" class="form-control-file" name="document_one" (change)="onChangeOne($event)">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlFile1">جواز السفر او الهوية</label>
                        <input type="file" class="form-control-file" name="document_two" (change)="onChangeTwo($event)">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlFile1">كشف علامات الجامعة او الكلية إن وجد</label>
                        <input type="file" class="form-control-file" name="document_three" (change)="onChangeThree($event)">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlFile1">أخرى</label>
                        <input type="file" class="form-control-file" name="document_four" (change)="onChangeFour($event)">
                    </div>

                    <p>يمكنك تحميل ملفات مضغوظة</p>

                </form>
            </div>
        </div>
    </div>

</div>





<div class="items">
    <div class="container">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="false" aria-controls="collapseOne" style="text-align   : right;">
                            الدبلوم لطلبة التجسير
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <h2 style="margin-top: 20px;">الدبلوم لطلبة التجسير</h2>
                        <form>
                            <div class="form-group">
                                <label for="mailing">بلد الاصدار</label>
                                <input type="text" class="form-control" [(ngModel)]="bridging_country"
                                    name="bridging_country">
                            </div>
                            <div class="form-group">
                                <label for="email">التخصص</label>
                                <input type="text" class="form-control" [(ngModel)]="bridging_major"
                                    name="bridging_major">
                            </div>


                            <div class="form-group">
                                <label for="phone">المعدل</label>
                                <input type="text" class="form-control" [(ngModel)]="bridging_average"
                                    name="bridging_average">
                            </div>


                            <div class="form-group">
                                <label for="fix">سنة الشهادة</label>
                                <input type="text" class="form-control" [(ngModel)]="bridging_year"
                                    name="bridging_year">
                            </div>

                            <div class="form-group">
                                <label for="fax">الجامعة \ الكلية</label>
                                <input type="text" class="form-control" [(ngModel)]="bridging_collage_name"
                                    name="bridging_collage_name">
                            </div>


                        </form>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo" style="text-align   : right;">
                            النقل من جامعة اخرى
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <h2 style="margin-top: 20px;">النقل من جامعة اخرى</h2>
                        <form>
                            <div class="form-group">
                                <label for="mailing">بلد الاصدار</label>
                                <input type="text" class="form-control" [(ngModel)]="transfer_country"
                                    name="transfer_country">
                            </div>

                            <div class="form-group">
                                <label for="fax">اسم الجامعة</label>
                                <input type="text" class="form-control" [(ngModel)]="transfer_collage_name"
                                    name="transfer_collage_name">
                            </div>

                            <div class="form-group">
                                <label for="email">التخصص</label>
                                <input type="text" class="form-control" [(ngModel)]="transfer_major"
                                    name="transfer_major">
                            </div>


                            <div class="form-group">
                                <label for="phone">المعدل</label>
                                <input type="text" class="form-control" [(ngModel)]="transfer_average"
                                    name="transfer_average">
                            </div>


                            <div class="form-group">
                                <label for="fix">سنة الشهادة</label>
                                <input type="text" class="form-control" [(ngModel)]="transfer_year"
                                    name="transfer_year">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree" style="text-align   : right;">
                                الدرجة والتخصص
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <h2 style="margin-top: 20px;">الدرجة والتخصص</h2>
                            <form>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect2">الدرجة المطلوبة</label>
                                    <select class="form-control" [(ngModel)]="degree_and_major_required_degree"
                                        name="degree_and_major_required_degree">
                                        <option value="Bachelor">بكالوريوس</option>
                                        <option value="Master">ماجستير</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="email">التخصص</label>
                                    <input type="text" class="form-control" [(ngModel)]="degree_and_major_major"
                                        name="degree_and_major_major">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect2">الفصل الدراسي</label>
                                    <select class="form-control" [(ngModel)]="degree_and_major_semester"
                                        name="degree_and_major_semester">
                                        <option value="First">الاول</option>
                                        <option value="Second">الثاني</option>
                                        <option value="Summer">الصيفي</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="number">عام جامعي</label>
                                    <input type="text" class="form-control" id="number"
                                        [(ngModel)]="degree_and_major_academic_year"
                                        name="degree_and_major_academic_year">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <input type="file" name="profile" (change)="onChange($event)" />
        <button type="submit">Upload Image File</button>

    </form>
</div> -->

<button class="btn btn-warning" (click)="onSubmit()">أرسال طلب الألتحاق</button>
<p class="massage" *ngIf="show">تم ارسال طلب الألتحاق بالجامعة بنجاح</p>
<p class="error" *ngIf="showError">Please Fill All Required Fields</p>

<app-footer-ar></app-footer-ar>