<app-navbar-ar></app-navbar-ar>

<header>
    <div class="background"></div>
    <div class="mask">
        <div class="container">
            <div class="context typewriter">
                    <div class="image d-md-none d-lg-block d-sm-none d-none" style="background-image: url(http://localhost:8000{{staffPage.image}}); background-size: cover; background-repeat: no-repeat;">

                    </div>
                    <div class="about">
                        <h1><span>{{staffPage.name_arabic}}</span></h1>
                        <p><span>{{staffPage.short_paragraph_arabic}}</span></p>
                    </div>
            </div>
        </div>
    </div>
    <div class="arrow"></div>
</header>

<div class="about-us-one" *ngIf="staffPage.long_paragraph_arabic">
    <div class="container">
        <div class="space">
            <p style="text-align:center; text-align: justify; font-size: 20px;">{{staffPage.long_paragraph_arabic}}</p>
        </div>
    </div>
</div>

<div class="htmlpage">
    <div class="container">
        <span [outerHTML]="staffPage.html_arabic"></span>

    </div>
</div>


<app-footer-ar></app-footer-ar>