
@font-face {
    font-family: Proxima-Nova-Alt;
    src        : url("../../../../assets/fonts/Proxima-Nova-Alt/Proxima\ Nova\ Alt\ Bold.otf");
}

@font-face {
    font-family: Proxima-Nova-Alt-Light;
    src        : url("../../../../assets/fonts/Proxima-Nova-Alt/Proxima\ Nova\ Alt\ Light.otf");
}

@font-face {
    font-family: Merriweather;
    src        : url("../../../../assets/fonts/Merriweather/Merriweather-Bold.otf");
}

@font-face {
    font-family: Merriweather-Light;
    src        : url("../../../../assets/fonts/Merriweather/Merriweather-Regular.otf");
}

@font-face {
    font-family: Palatino-Linotype;
    src        : url("../../../../assets/fonts/Palatino-Linotype/pala\ bold.ttf");
}

@font-face {
    font-family: Cairo;
    src        : url("../../../../assets/fonts/Cairo/Cairo-Black.ttf");
}

@font-face {
    font-family: Tajawal;
    src        : url("../../../../assets/fonts/Tajawal/Tajawal-Medium.ttf");
}

@font-face {
    font-family: Tajawal-Bold;
    src        : url("../../../../assets/fonts/Tajawal/Tajawal-ExtraBold.ttf");
}

$heading-font      :Cairo;
$pargraphs-font    :Tajawal;
$bottons-font      :Tajawal-Bold;

$primary-blue      : #181e38;
$primary-light-blue: #272e4a;
$primary-white     : #f7f7f7;
$primary-yellow    : #FFB93F;

.colorlib-nav ul li.activee>a {
    color   : white;
    position: relative;
    position: relative;
}

.arrow {
    position        : absolute;
    bottom          : 0;
    width           : 100%;
    padding-bottom  : 40px;
    background-color: #f1f1f1;
}

.arrow:before,
.arrow:after {
    content         : '';
    position        : absolute;
    bottom          : 100%;
    width           : 50%;
    padding-bottom  : inherit;
    background-color: inherit;
}

.arrow:before {
    right                   : 50%;
    -ms-transform-origin    : 100% 100%;
    -webkit-transform-origin: 100% 100%;
    transform-origin        : 100% 100%;
    -ms-transform           : skewX(45deg);
    -webkit-transform       : skewX(45deg);
    transform               : skewX(45deg);
}

.arrow:after {
    left                    : 50%;
    -ms-transform-origin    : 0 100%;
    -webkit-transform-origin: 0 100%;
    transform-origin        : 0 100%;
    -ms-transform           : skewX(-45deg);
    -webkit-transform       : skewX(-45deg);
    transform               : skewX(-45deg);
}

header {
    position: relative;
    overflow: hidden;

    .background {
        position         : absolute;
        width            : 100%;
        height           : 100%;
        background       : url("../../../../assets/images/AUT-university-bg.png");
        background-size  : cover;
        background-repeat: no-repeat;
        z-index          : -2;
    }

    .mask {
        z-index: 100;

        @media (max-width: 575px) {
            img {
                margin: 0 15px;
            }
        }

        .img {
            position: absolute;
            right   : 0;
            z-index : -10;
            top     : 0;

            img {}
        }

        .container {
            @media only screen and (min-width: 755px) {
                .context {
                  
                    h1 {
                        font-size  : 45px;
                        line-height: 81px;

                        span {
                            padding: 3px 26px 3px 15px;
                        }
                    }

                    p {
                        font-size: 27px;
                    }
                }
            }

            @media only screen and (max-width: 755px) {
                .context {
                  

                    h1 {
                        font-size  : 40px;
                        line-height: 64px;

                        span {
                            padding: 5px 26px 5px 15px;
                        }
                    }

                    p {
                        font-size: 25px;
                    }
                }
            }

            @media only screen and (max-width: 500px) {
                .context {
                  
                    h1 {
                        font-size  : 30px;
                        line-height: 50px;

                        span {
                            padding: 3px 26px 3px 15px;
                        }
                    }

                    p {
                        font-size: 18px;
                    }
                }
            }

            @media only screen and (max-width: 425px) {
                .context {
                    

                    h1 {
                        font-size  : 145%;
                        line-height: 50px;

                        span {
                            padding: 3px 26px 3px 15px;
                        }
                    }

                    p {
                        font-size: 18px;
                    }
                }
            }

            @media only screen and (max-width: 365px) {
                .context {
                   

                    h1 {
                        font-size  : 137%;
                        line-height: 50px;

                        span {
                            padding: 3px 26px 3px 15px;
                        }
                    }

                    p {
                        font-size: 18px;
                    }
                }
            }

            .context {
                padding: 40px 0 120px;
                text-align: right;
                direction: rtl;

                display: flex;
                align-items: center;

                h1 {
                    font-family: $heading-font;
                }

                h1 {
                    font-family: $heading-font;
                    color      : $primary-white;
                    margin: 0;

                    span {
                        background-color: #181e3878;
                    }
                }

                p {
                    opacity      : 0.85;
                    font-family  : $pargraphs-font;
                    margin-right  : 10px;
                    color      : $primary-white;
                    // font-size: 27px;
                    max-width: 700px;
                }

                .about {
                    padding-right: 10px;
                }

                .image {
                    background-image: url('../../../../assets/images/AUT-aqaba-bg.png');
                    background-size: cover;
                    height: 260px;
                    width: 200px;
                }
            }
        }
    }
}
  
  

.about-us-one {
    overflow: hidden;
    background-color: #f1f1f1;
    text-align: right;
    direction: rtl;
    @media (max-width: 786px) {
        .container {
            padding: 0px 15px 70px;
        }
    }
    @media (min-width: 786px) {
        .container {
            padding: 40px 15px 100px;
        }
    }
    .container {
        .space {
            display: block;
            margin: auto;
            max-width: 800px;
            // padding: 0 10px;
        }
        p {
            text-align: justify;
            font-family: $pargraphs-font;
            font-size: 20px;
            color: $primary-blue;
            opacity: 0.90;
        }
    }
}


.htmlpage {
    overflow: hidden;
    background-color: #ffffff;
    text-align: right;
    direction: rtl;
    @media (max-width: 786px) {
        .container {
            padding: 70px 15px 70px;
        }
    }
    @media (min-width: 786px) {
        .container {
            padding: 100px 15px 100px;
        }
    }
    .container {
        .space {
            display: block;
            margin: auto;
            max-width: 800px;
            // padding: 0 10px;
        }
        p {
            text-align: justify;
            font-family: $pargraphs-font;
            font-size: 20px;
            color: $primary-blue;
            opacity: 0.90;
        }
    }
}