<app-navbar-en></app-navbar-en>


<header>
    <div class="background"></div>
    <div class="mask">
        <div class="container">
            <div class="context typewriter">
                <h1><span>Admission Requirements</span></h1>
            </div>
        </div>
    </div>
    <div class="arrow"></div>
</header>




<div class="list_requirements_one">
    <div class="container">
        <h2>Adission Requirements for Bachelor</h2>
        <div class="row lists">
            <div class="col-md-6 list">
                <h2>For Jordanian Students</h2>
                <ul>
                    <li>The student's score in the General Secondary Education Certificate should not be less than 60%
                        to get admitted to the Faculty of Information Technology and the Faculty of Administrative and
                        Financial Sciences.</li>
                    <li>The student's score in the General Secondary Education Certificate should not be less than 80%
                        to get admitted to the Faculty of Pharmacy and the Faculty of Engineering.</li>
                    <li>The student's General Secondary Education Certificate's stream should comply with the major that
                        the student wishes to join.</li>
                    <li>International (non-Jordanian) and Jordanian students holding foreign secondary certificates
                        should get equivalency of such certificates from the Ministry of Education in Jordan.</li>
                </ul>
            </div>

            <div class="col-md-6 list">
                <h2>For Non-Jordanian Students</h2>
                <p>Non-Jordanian students can be admitted according to the following criteria:</p>
                <ul>
                    <li>The student's score in the General Secondary Education Certificate should not be less than 50%
                        to get admitted to the Faculty of Information Technology and the Faculty of Administrative and
                        Financial Sciences.</li>
                    <li>The student's score in the General Secondary Education Certificate should not be less than 65%
                        to get admitted to the Faculty of Pharmacy and the Faculty of Engineering.</li>
                    <li>The student's General Secondary Education Certificate's stream should comply with the major that
                        the student wishes to join.</li>
                    <li>(Non-Jordanian) students holding foreign secondary certificates should get equivalency of such
                        certificates from the Ministry of Education in Jordan.</li>
                </ul>
            </div>
        </div>
    </div>
</div>













<div class="list_requirements_two">
    <div class="container">
        <h2>Admission Procedures</h2>
        <p class="center">If the student is admitted into Aqaba University of Technology, he/she should provide the
            following
            documents:</p>
        <div class="row lists">
            <div class="col-md-6 list">
                <h2>For Jordanian Students with a Jordanian Secondary School Certificate:</h2>
                <p>The Jordanian Students holding General Secondary Education Certificate or Equivalent
                    should provide
                    the following documents:</p>
                <ul>
                    <li>Marks’ transcript, duly certified in Arabic and English (the original and a certified copy).
                    </li>
                    <li>Certified copies of the Birth Certificate and Family Book.</li>
                    <li>A certified copy of the Identity document (Identity Card issued by CSPD).</li>
                    <li>Two photos</li>
                    <li>A copy of the Military Service Booklet ( postponed) or a certified copy of the Service Exemption
                        Certificate (for Jordanian students)</li>
                    <li>Approval by the competent authorities of the police and military personnel for the workers
                        wishing to study.</li>
                </ul>
            </div>

            <div class="col-md-6 list">
                <h2>For Non-Jordanian Students:</h2>
                <ul>
                    <li>If the non – Jordanian Students hold the Jordanian General Secondary School Certificate
                        (Tawjihi), they should provide an original or certified copy of marks' transcript (both in
                        Arabic and English).</li>
                    <li>If the non – Jordanian Students hold Arab General Secondary School Certificates, they should
                        obtain its certification from the following:

                        <ul>
                            <li>The Ministry of Education in the country from which the General Secondary School
                                Certificate was issued.</li>
                            <li>The Ministry of Foreign Affairs in the country from which the General Secondary School
                                Certificates was issued.</li>
                            <li>The Jordanian Embassy in the country from which the General Secondary School Certificate
                                was issued or the Jordanian Ministry of Foreign Affairs (address: Amman, Jabal Amman,
                                first Circle, opposite to the Saudi Consulate).</li>
                            <li>The Jordanian Ministry of Education (Address: Amman, Abdali, near the Parliament and the
                                mosque of the martyr King Abdullah I).</li>
                            <li>Students having Foreign Non-Arab General Secondary School Certificates should get the
                                equivalency of their certificates from the Ministry of Education in Jordan (Address:
                                Amman, Abdali, near the Parliament and the Mosque of the Martyr King Abdullah I) before
                                applying to the University

                                <ul>
                                    <li>Copy of passport</li>
                                    <li>Two photos</li>
                                    <li>Security card for Syrian students</li>
                                    <li>A no-objection letter from the cultural attaché of the student's country.</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
















<div class="list_requirements_three">
    <div class="container">
        <h2>Transfer to Aqaba University of Technology</h2>
        <!-- <p class="center">Students are allowed to transfer from other universities to Aqaba University of Technology if they provide the following documents:</p> -->
        <div class="row lists">
            <div class="col-md-6 list">
                <h2>Students are allowed to transfer from other universities to Aqaba University of Technology if they
                    provide the following documents:</h2>
                <ul>
                    <li>A certified General Secondary School Marks’ transcript both in Arabic and English.
                    </li>
                    <li>Marks’ transcript from the university of origin that is certified by the Jordanian Ministry of
                        Higher Education and Scientific Research.</li>
                    <li>A letter of Good Conduct from the university of origin</li>
                </ul>
            </div>

            <div class="col-md-6 list">
                <h2>The Equivalency of Courses for Transfer Students or Graduates from Other Universities:</h2>
                <ul>
                    <li>No more than 50% of the major credit hours of the study plan may be equalized at Aqaba
                        University of Technology.</li>
                    <li>The period of interruption or graduation from the university of origin should not exceed seven
                        years for the scientific faculties and 15 years for humanities and social faculties.</li>
                    <li>The student's General Secondary Education Certificate's stream should comply with the major that
                        the student wishes to join.</li>
                    <li>Students are allowed to transfer from other universities if there are vacancies at Aqaba
                        University of Technology</li>
                    <li>The university of origin should be accredited by the Ministry of Higher Education in Jordan.
                    </li>
                    <li>For students transferring from universities within Jordan, no major subjects below a mark of
                        passing shall be considered equivalent.</li>
                    <li>Only the courses that correspond to the description and content of the courses taught at Aqaba
                        University of Technology courses will be equalized.</li>
                </ul>
            </div>
        </div>
    </div>
</div>











<div class="list_requirements_two">
    <div class="container">
        <h2>Transfer of Students from Community Colleges “Bridging Program”:</h2>
        <p class="center">Students, holding a Community Diploma College from Jordan or abroad, can be admitted into
            Aqaba University of Technology according to the below classified conditions:</p>
        <div class="row lists">
            <div class="col-md-6 list">
                <h2>Jordanians holding Jordanian Diplomas:</h2>
                <p>Students holding Jordanian diploma can be admitted in equivalent majors at Aqaba University of
                    Technology regardless of their averages according to the following conditions:</p>
                <ul>
                    <li>Providing that the community colleges they graduated from are accredited in their home
                        countries.</li>
                    <li>Aqaba University of Technology may admit transfer ‘bridging’ students in the Engineering and
                        Pharmacy programs if their score in the Comprehensive Exam is not less than 70% and in the other
                        programs if their score in the Comprehensive Exam is not less than 68%.</li>
                    <li>Maximum number of equalizing courses is 30 credit hours.</li>
                    <li>The course description as well as the number of units should be similar to that of the study
                        plans applied at Aqaba University of Technology.</li>
                </ul>

            </div>

            <div class="col-md-6 list">
                <h2>Non-Jordanians holding Jordanian diplomas:</h2>
                <ul>
                    <li>Non-Jordanians holding Jordanian diplomas can be admitted in equivalent majors at Aqaba
                        University of Technology regardless of their averages but the passing score in the comprehensive
                        exam is an obligatory requirement for admission.</li>
                    <li>Maximum number of equalizing courses is 55 credit hours and only the courses with average marks
                        not less than (68%) will be equalized. For pharmacy and engineering, the minimum accepted mark
                        should not be less than (70%) in order for the course to be equalized.</li>
                </ul>


                <h2 style="margin-top: 40px;">Non-Jordanians holding non-Jordanian diplomas:</h2>
                <ul>
                    <li>Non-Jordanian students who have diploma from outside Jordan may be accepted in equivalent majors
                        at the university if they provide their graduation passing scores regardless of the average.
                    </li>
                    <li>The University must be presented with an official letter from that country’s Ministry of Higher
                        Education or from that country’s embassy in Jordan stating that the said diploma grants its
                        holder access to further university level education in that country.</li>
                    <li>Non-Jordanian students holding non-Jordanian diplomas may be admitted if they provided that they
                        had passed the comprehensive examination with an average not less than 68%, (except for
                        Pharmacy, Architecture and Engineering which require not less than 70%).</li>
                    <li>Maximum 30 credit hours of their study plan are equalized.</li>
                    <li>The course description as well as the number of units should be similar to that of the study
                        plans applied at Aqaba University of Technology.</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row lists">
            <div class="col-md-6 list">
                <h2>Unparalleled Bridging:</h2>
                <p>Students holding diploma, who passed the comprehensive exam with an average not less than (68%)
                    (except for pharmacy, and engineering (70%), can be admitted into nonequivalent majors provided
                    that:</p>
            </div>
            <div class="col-md-6 list">
                <h2>The Required Documents:</h2>
                <ul>
                    <li>A certified General Secondary Education Certificate both in Arabic and English.</li>
                    <li>A copy of the Identity document, or passport, or Family Book.</li>
                    <li>A copy of the Military Service Booklet (postponed) or a certified copy of the Service Exemption
                        Certificate (for Jordanian students).</li>
                    <li>Two photos</li>
                    <li>Marks’ transcript certified by the Jordanian Ministry of Higher Education and Scientific
                        Research.</li>
                    <li>A copy of the certificate of the comprehensive examination certified by the Jordanian Ministry
                        of Higher Education.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<app-footer-en></app-footer-en>