@font-face {
    font-family: Proxima-Nova-Alt;
    src: url("../../../../assets/fonts/Proxima-Nova-Alt/Proxima\ Nova\ Alt\ Bold.otf");
}

@font-face {
    font-family: Proxima-Nova-Alt-Light;
    src: url("../../../../assets/fonts/Proxima-Nova-Alt/Proxima\ Nova\ Alt\ Light.otf");
}

@font-face {
    font-family: Merriweather;
    src: url("../../../../assets/fonts/Merriweather/Merriweather-Bold.otf");
}

@font-face {
    font-family: Merriweather-Light;
    src: url("../../../../assets/fonts/Merriweather/Merriweather-Regular.otf");
}

@font-face {
    font-family: Palatino-Linotype;
    src: url("../../../../assets/fonts/Palatino-Linotype/pala\ bold.ttf");
}

$primary-blue: #181e38;
$primary-light-blue: #272e4a;
$primary-white: #f7f7f7;
$primary-yellow: #FFB93F;
.active1 {
    background-color: $primary-yellow !important;
    font-family: Proxima-Nova-Alt !important;
    color: $primary-light-blue !important;
}
.active2 {
    background-color: #ffb93f6e;
    font-family: Proxima-Nova-Alt !important;
    color: #272e4ac5;
}
.colorlib-nav ul li.activee>a {
    color: white;
    position: relative;
    position: relative;
}

.arrow {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 40px;
    background-color: #f1f1f1;
}

.arrow:before,
.arrow:after {
    content: '';
    position: absolute;
    bottom: 100%;
    width: 50%;
    padding-bottom: inherit;
    background-color: inherit;
}

.arrow:before {
    right: 50%;
    -ms-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -ms-transform: skewX(45deg);
    -webkit-transform: skewX(45deg);
    transform: skewX(45deg);
}

.arrow:after {
    left: 50%;
    -ms-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -ms-transform: skewX(-45deg);
    -webkit-transform: skewX(-45deg);
    transform: skewX(-45deg);
}

header {
    position: relative;
    overflow: hidden;
    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("../../../../assets/images/AUT-university-bg.png");
        background-size: cover !important;
        background-repeat: no-repeat !important;
        z-index: -2;
    }
    .mask {
        z-index: 100;
        @media (max-width: 575px) {
            img {
                margin: 0 15px;
            }
        }
        .img {
            position: absolute;
            right: 0;
            z-index: -10;
            top: 0;
            img {}
        }
        .container {
            @media only screen and (min-width: 755px) {
                .context {
                    padding-top: 21%;
                    padding-bottom: 26%;
                    h1 {
                        font-size: 53px;
                        line-height: 81px;
                        span {
                            padding: 5px 26px 5px 15px;
                        }
                    }
                }
            }
            @media only screen and (max-width: 755px) {
                .context {
                    padding-top: 13%;
                    padding-bottom: 24%;
                    h1 {
                        font-size: 40px;
                        line-height: 64px;
                        span {
                            padding: 5px 26px 5px 15px;
                        }
                    }
                }
            }
            @media only screen and (max-width: 500px) {
                .context {
                    padding-top: 15%;
                    padding-bottom: 27%;
                    h1 {
                        font-size: 30px;
                        line-height: 50px;
                        span {
                            padding: 10px 26px 10px 15px;
                        }
                    }
                }
            }
            @media only screen and (max-width: 425px) {
                .context {
                    padding-top: 15%;
                    padding-bottom: 30%;
                    h1 {
                        font-size: 145%;
                        line-height: 50px;
                        span {
                            padding: 10px 26px 10px 15px;
                        }
                    }
                }
            }
            @media only screen and (max-width: 365px) {
                .context {
                    padding-top: 15%;
                    padding-bottom: 33%;
                    h1 {
                        font-size: 137%;
                        line-height: 50px;
                        span {
                            padding: 10px 26px 10px 15px;
                        }
                    }
                }
            }
            .context {
                text-align: center;
                h1 {
                    font-family: Palatino-Linotype;
                }
                h1 {
                    font-family: Palatino-Linotype;
                    color: $primary-white;
                    span {
                        background-color: #181e3878;
                    }
                }
            }
        }
    }
}

.about-us-one {
    overflow: hidden;
    background-color: #f1f1f1;
    @media (max-width: 786px) {
        .container {
            padding: 0px 15px 70px;
        }
    }
    @media (min-width: 786px) {
        .container {
            padding: 40px 15px 100px;
        }
    }
    .container {
        .row {
            .space {
                padding: 0 20px;
                .background {
                    background-repeat: no-repeat !important;
                    background-size: cover !important;
                    width: 100% !important;
                    height: 100% !important;
                    box-shadow: -26px 26px 78px -34px rgba(0, 0, 0, 0.425);
                    border-radius: 4px;
                }
            }
            .prop {
                padding: 40px 20px 5px;
                text-align: left;
            }
            .colorlib-heading {
                z-index: 200;
            }
            .prop {
                @media only screen and (min-width: 600px) {
                    h2 {
                        font-size: 40px;
                        margin-bottom: 40px;
                    }
                    p,
                    .p {
                        font-size: 23.25px;
                        margin-bottom: 32px;
                    }
                }
                @media only screen and (max-width: 600px) {
                    h2 {
                        font-size: 35px;
                        margin-bottom: 40px;
                    }
                    p,
                    .p {
                        font-size: 20.25px;
                        margin-bottom: 32px;
                    }
                }
                @media only screen and (max-width: 500px) {
                    h2 {
                        font-size: 27px;
                        margin-bottom: 30px;
                    }
                    p,
                    .p {
                        font-size: 18.25px;
                        margin-bottom: 15px;
                    }
                }
                h2 {
                    font-family: Merriweather;
                    margin-bottom: 20px;
                    color: $primary-blue;
                }
                .p {
                    margin-bottom: 10px;
                    color: $primary-blue;
                    font-family: Proxima-Nova-Alt-Light;
                    opacity: 1;
                }
                p {
                    text-align: justify;
                    font-family: Proxima-Nova-Alt-Light;
                    color: $primary-blue;
                    opacity: 0.95;
                }
            }
        }
    }
}





.mission-and-vision {
    overflow            : hidden;
    // background       : linear-gradient(45deg, #090b159c, #181e389c), url("../../../../assets/images/unnamed.jpg") !important;
    // background-size  : cover;
    // background-repeat: no-repeat;
    background          : linear-gradient(45deg, #d69f2278, #ffca339e), url("../../../../assets/images/AUT-aqaba-bg.png");
    background-size     : cover;
    background-repeat   : no-repeat;

    @media (max-width: 786px) {
        .container {
            padding: 70px 15px 70px;
        }
    }

    @media (min-width: 786px) {
        .container {
            padding: 70px 15px 70px;
        }
    }

    .container {
        .row {
            .prop {
                text-align: left;

                @media only screen and (min-width: 600px) {
                    h2 {
                        font-size    : 35px;
                        margin-bottom: 40px;
                    }

                    p {
                        font-size    : 24.25px;
                        margin-bottom: 32px;
                    }
                }

                @media only screen and (max-width: 600px) {
                    h2 {
                        font-size    : 30px;
                        margin-bottom: 40px;
                    }

                    p {
                        font-size    : 20.25px;
                        margin-bottom: 32px;
                    }
                }

                @media only screen and (max-width: 500px) {
                    h2 {
                        font-size    : 25px;
                        margin-bottom: 30px;
                    }

                    p {
                        font-size    : 18.25px;
                        margin-bottom: 16px;
                    }
                }

                h2 {
                    font-family  : Merriweather;
                    margin-bottom: 20px;
                    color        : $primary-blue;
                }

                p {
                    
                    font-family: Proxima-Nova-Alt-Light;
                    font-weight: 600;
                    color      : $primary-blue;
                    opacity    : 0.8;
                    margin     : 0;
                }
            }

            @media only screen and (max-width: 768px) {
                .prop2 {
                    margin-top: 20px;
                }
            }

            .prop2 {
                text-align: left;

                @media only screen and (min-width: 600px) {
                    h2 {
                        font-size    : 35px;
                        margin-bottom: 40px;
                    }

                    li {
                        font-size    : 22.25px;
                        margin-bottom: 32px;
                    }
                }

                @media only screen and (max-width: 600px) {
                    h2 {
                        font-size    : 30px;
                        margin-bottom: 40px;
                    }

                    li {
                        font-size    : 18.25px;
                        margin-bottom: 32px;
                    }
                }

                @media only screen and (max-width: 500px) {
                    h2 {
                        font-size    : 25px;
                        margin-bottom: 30px;
                    }

                    li {
                        font-size    : 17.25px;
                        margin-bottom: 15px;
                    }
                }

                h2 {
                    font-family  : Merriweather;
                    margin-bottom: 20px;
                    color        : $primary-blue;
                }

                li {
                    font-family: Proxima-Nova-Alt-Light;
                    font-weight: 600;
                    color      : $primary-blue;
                    opacity    : 0.8;
                    margin     : 0;
                }
            }
        }
    }
}





.dean {
    position: relative;
    // z-index: -1;
    .background {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background: url("../../../../assets/images/AUT-aqaba-sea-bg.png");
        filter: brightness(65%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: -2;
    }
    .container {
        padding-top: 70px;
        padding-bottom: 70px;
        .picture {
            margin: 0 auto 20px;
            img {
                height:        500px;
                border-radius: 6px;
                display: block;
                margin: auto;
                filter       : grayscale(30%);
            }
        }
        h4 {
            text-align: center;
            margin-top: 20px;
            font-family: Merriweather;
            color: $primary-white;
            margin-bottom: 40px;
        }
        .prop {
            margin-bottom: 20px;
            text-align: left;
            @media only screen and (min-width: 600px) {
                p, .p {
                    font-size: 23.25px;
                    margin-bottom: 32px;
                }
            }
            @media only screen and (max-width: 600px) {
                p,
                .p {
                    font-size: 20.25px;
                    margin-bottom: 32px;
                }
            }
            @media only screen and (max-width: 500px) {
                p,
                .p {
                    font-size: 18.25px;
                    margin-bottom: 15px;
                }
            }
            .p {
        text-align: justify;

                margin-bottom: 10px;
                color: $primary-white;
                font-family: Proxima-Nova-Alt-Light;
                opacity: 1;
            }
            p {
        text-align: justify;

                font-family: Proxima-Nova-Alt-Light;
                color: $primary-white;
                opacity: 0.95;
            }
        }
    }
}

.staff {
    margin-top: -70px;
    z-index: 1000;
    // background: url("../../../../assets/images/AUT-aqaba-bg.png");
    .container {
        box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.431);
        background-color: $primary-white;
        padding-top: 70px;
        padding-bottom: 70px;
        @media only screen and (min-width: 600px) {
            h2 {
                font-size: 50px;
            }
        }
        @media only screen and (max-width: 600px) {
            h2 {
                font-size: 40px;
            }
        }
        h2 {
            color: $primary-blue;
            font-family: Merriweather;
            margin-bottom: 30px;
            text-align: center;
        }
        hr {
            border-top: solid $primary-blue 3px;
            width: 50px;
            margin: auto;
            margin-bottom: 50px;
        }
        .pictures {
            .row {
                .pic {
                    img {
                        display: block;
                        margin: auto;
                        filter: grayscale(30%);
                        border-radius: 6px;
                        width: 250px;
                    }
                    h5 {
                        margin-top: 15px;
                        text-align: center;
                        color: $primary-blue;
                        font-family: Proxima-Nova-Alt;
                    }
                }
            }
        }
    }
}









.btn-list {
    margin: 0 80px;
    .btn-warning {
            font-family     : Proxima-Nova-Alt;
            background-color: $primary-yellow;
            color           : $primary-blue;
            font-size       : 19px;
            padding         : 9px 21px;
            float: right;
    }

    h4 {
        font-family     : Proxima-Nova-Alt;
        color           : $primary-blue;
        font-size       : 21px;
        margin: 11px 0;
    }
    
}



.btn-list-two {
    margin: 0 0px;
    .btn-warning {
            font-family     : Proxima-Nova-Alt;
            background-color: $primary-yellow;
            color           : $primary-blue;
            font-size       : 19px;
            padding         : 9px 21px;
            float: right;
    }

    h4 {
        font-family     : Proxima-Nova-Alt;
        color           : $primary-blue;
        font-size       : 21px;
        margin: 11px 0;
    }
    
}
.hr {
    border-top: solid $primary-blue 1px !important;
    width: 100% !important;
    margin: auto;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    opacity: 0.5;
}











.planes {
    .container {
        padding-top: 70px;
        padding-bottom: 70px;
        @media only screen and (min-width: 600px) {
            h2 {
                font-size: 50px;
            }
        }
        @media only screen and (max-width: 600px) {
            h2 {
                font-size: 40px;
            }
        }
        h2 {
            color: $primary-blue;
            font-family: Merriweather;
            margin-bottom: 30px;
            text-align: center;
        }
        hr {
            border-top: solid $primary-blue 3px;
            width: 50px;
            margin: auto;
            margin-bottom: 50px;
        }



        .card {
            h5 {
                font-family     : Proxima-Nova-Alt;
            }
            p {
                font-family     : Proxima-Nova-Alt-Light;
            }

            .btn-danger {
                font-family     : Proxima-Nova-Alt;
                background-color: #cc0001;
                color           : $primary-white;
                font-size       : 17px;
                padding         : 9px 21px;
            }
            a {
                text-decoration: none;
                color           : $primary-white;
                border: none !important;
                &:hover {
                border: none !important;

                }
            }

        }
    }   
}