<app-navbar-ar></app-navbar-ar>


<header>
    <div class="background"></div>
    <div class="mask">
        <div class="container">
            <div class="context typewriter">
                <h1><span>متطلبات القبول</span></h1>
            </div>
        </div>
    </div>
    <div class="arrow"></div>
</header>




<div class="list_requirements_one">
    <div class="container">
        <h2>شروط القبول للبكالوريوس</h2>
        <div class="row lists">
            <div class="col-md-6 list">
                <h2>شروط القبول للبكالوريوس للطلبة الأردنيين</h2>
                <ul>
                    <li>أن لا يقل معدل الطالب في الثانوية العامة عن 60% في التخصصات المطروحة في كليتي تكنولوجيا
                        المعلومات والعلوم الإدارية والمالية.</li>
                    <li>أن لا يقل معدل الطالب في الثانوية العامة عن 80% في التخصصات المطروحة في كليتي الصيدلة والهندسة
                        يجب أن يتوافق فرع الثانوية مع التخصص الذي يرغب الطالب الالتحاق به.</li>
                    <li>يشترط في الطلبة الحاصلين على شهادات ثانوية عامة غير أردنية معادلة الشهادة من وزارة التربية
                        والتعليم الأردنية.</li>
                </ul>
            </div>

            <div class="col-md-6 list">
                <h2>شروط القبول للبكالوريوس للطلبة غير الأردنيين</h2>
                <ul>
                    <li>أن لا يقل معدل الطالب في الثانوية العامة عن 50% في التخصصات المطروحة في كليتي تكنولوجيا
                        المعلومات والعلوم الإدارية والمالية.</li>
                    <li>أن لا يقل معدل الطالب في الثانوية العامة عن 65% في التخصصات المطروحة في كليتي الصيدلة والهندسة
                        يجب أن يتوافق فرع الثانوية مع التخصص الذي يرغب الطالب الالتحاق به.</li>
                    <li>يشترط في الطلبة الحاصلين على شهادات ثانوية عامة غير أردنية معادلة الشهادة من وزارة التربية
                        والتعليم الأردنية.</li>
                </ul>
            </div>
        </div>
    </div>
</div>













<div class="list_requirements_two">
    <div class="container">
        <h2>إجراءات القبول</h2>
        <p class="center">في حال تحقيق الطالب لشروط القبول في برنامج البكالوريوس فإن عليه تزويد دائرة القبول والتسجيل
            بالوثائق الآتية:</p>
        <div class="row lists">
            <div class="col-md-6 list">
                <h2>الوثائق المطلوبة للطلبة الأردنيين الحاصلين على شهادة الثانوية الأردنية:</h2>
                <ul>
                    <li>كشف علامات الثانوية العامة باللغتين العربية والإنجليزية (الأصلي/صورة مصدقة)</li>
                    <li>صورة مصدقة عن شهادة الميلاد ودفتر العائلة</li>
                    <li>صورة مصدقة عن هوية الأحوال المدنية</li>
                    <li>صورتان شخصيتان حديثتان</li>
                    <li>دفتر خدمة العلم مؤجلاً أو شهادة الخدمة الاحتياطية أو إنهاء أو إعفاء من الخدمة للطلبه الذكور</li>
                    <li>الموافقة من قبل الجهات المختصة لمنتسبي القوات المسلحة و الأجهزة الأمنية للراغبين بالدراسة</li>
                </ul>
            </div>

            <div class="col-md-6 list">
                <h2>الوثائق المطلوبة للطلبة غير الأردنيين:</h2>
                <ul>
                    <li>إذا حصل الطالب غير الأردني على الثانوية الأردنية يقوم بإحضار كشف الثانوية باللغة العربية واللغة
                        الإنجليزية (الأصلي/صورة مصدقة)</li>
                    <li>إذا حصل الطالب غير الأردني على الثانوية العامة من بلده، يتم تصديقها من الجهات الآتية:
                        <ul>
                            <li>وزارة التربية والتعليم في البلد الصادرة منه الشهادة</li>
                            <li>وزارة الخارجية في البلد الصادرة منه الشهادة</li>
                            <li>السفارة الأردنية في البلد الصادرة منه الشهادة او سفارة البلد الصادرة منه الشهادة في
                                الاردن</li>
                            <li>وزارة الخارجية الاردنية</li>
                            <li>وزارة التربية والتعليم الأردنية</li>
                        </ul>
                    </li>
                    <li>إذا حصل الطالب غير الأردني على الثانوية العامة من خارج بلده، يتم تصديقها من الجهات الآتية:
                        <ul>
                            <li>وزارة التربية والتعليم في البلد الصادرة منه الشهادة</li>
                            <li>وزارة الخارجية في البلد الصادرة منه الشهادة</li>
                            <li>وزارة التربية والتعليم في بلد الطالب</li>
                            <li>وزارة الخارجية في بلد الطالب</li>
                            <li>السفارة الأردنية في بلد الطالب او سفارة بلد الطالب في الاردن</li>
                            <li>وزارة الخارجية الاردنية</li>
                            <li>وزارة التربية والتعليم الأردنية</li>
                        </ul>
                    </li>
                    <li>صورة عن جواز السفر</li>
                    <li>صورتان شخصيتان</li>
                    <li>البطاقة الأمنية للطلبة السوريين</li>
                    <li>كتاب عدم ممانعة للدراسة في الجامعة من الملحقية الثقافية التابعة لسفارة الطالب</li>
                </ul>
            </div>
        </div>
    </div>
</div>
















<div class="list_requirements_three">
    <div class="container">
        <h2>الانتقال إلى جامعة العقبة للتكنولوجيا</h2>
        <!-- <p class="center">Students are allowed to transfer from other universities to Aqaba University of Technology if they provide the following documents:</p> -->
        <div class="row lists">
            <div class="col-md-6 list">
                <h2>الطلبة المنتقلون من جامعات أخرى أو الخريجون بدرجة البكالوريوس</h2>
                <p>يتم قبول الطلبة المنتقلين أو الخريجين من جامعات أخرى شريطة إحضار الوثائق الآتية:</p>
                <ul>
                    <li>كشف الثانوية العامة الأصل باللغة العربية واللغة الإنجليزية</li>
                    <li>كشف علامات الجامعة المنتقل منها والمصدقة الجامعية للخرجين مصدقين من وزارة التعليم العالي</li>
                    <li>شهادة حسن سيرة وسلوك من الجامعة المنتقل منها</li>
                </ul>
            </div>

            <div class="col-md-6 list">
                <h2>معادلة المساقات للطلبة المنتقلين أو الخريجين من جامعات أخرى (بكالوريوس)</h2>
                <ul>
                    <li>يتم احتساب 50% من الخطة الدراسية في جامعة العقبة للتكنولوجيا حدًا أقصى.</li>
                    <li>أن لا يزيد فترة الانقطاع أو التخرج من الجامعة المنتقل أو المتخرج منها عن 7 سنوات للكليات العلمية
                        وعن (15) سنة للكليات الإنسانية والاجتماعية.</li>
                    <li>توافق فرع معدل الثانوية العامة مع التخصص المطلوب.</li>
                    <li>وجود شاغر بالتخصص المطلوب.</li>
                    <li>أن تكون الجامعة معترف بها من قبل وزارة التعليم العالي الأردنية وتدرس بأسلوب الانتظام.</li>
                    <li>يعادل كل مساق حصل به الطالب على علامة النجاح.</li>
                    <li>تعادل المساقات التي تتوافق بالوصف والمحتوى مع المساقات المشابهة في جامعة العقبة للتكنولوجيا.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>











<div class="list_requirements_two">
    <div class="container">
        <h2>التجسير (كليات المجتمع)</h2>
        <p class="center">يمكن قبول الطلبة الراغبين بالتجسير من حملة دبلوم كليات المجتمع الأردنية وغير الأردنية وفقاً
            للشروط التالية:</p>
        <div class="row lists">
            <div class="col-md-6 list">
                <h2>التجسير للطلبة الأردنيين من كليات المجتمع الأردنية</h2>
                <p>يسمح للطلبة الأردنيين الذين درسوا دبلوم كلية مجتمع غير أردني الالتحاق بالتخصصات المناظرة في الجامعة
                    بغض النظر عن معدلاتهم في كليات المجتمع وفقاً للشروط التالية:</p>
                <ul>
                    <li>إحضار ما يثبت اعتراف الدول التي تخرجوا منها بالمؤسسة (الكلية) التي درسوا بها. </li>
                    <li>يتم معادلة المواد التي تمت دراستها بالكلية كالآتي:
                        <ul>
                            <li>التخصصات الهندسية والصيدلة: كل مادة حصل بها الطالب على علامة 70% أو ما يعادلها. </li>
                            <li>بقية التخصصات: كل مادة حصل بها الطالب على علامة 68% فأكثر أو ما يعادلها. </li>
                        </ul>
                    </li>
                    <li>الحد الأقصى للمواد المعادلة: (30) ساعة معتمدة بما يتوافق مع الخطة الدراسية للتخصص الملتحق به في
                        الجامعة. </li>
                    <li>أن يتوافق وصف المواد وعدد وحدات الساعات مع الخطط الدراسية المعمول بها في الجامعة.</li>
                </ul>

            </div>

            <div class="col-md-6 list">
                <h2>التجسير للطلبة غير الأردنيين من كليات المجتمع الأردنية</h2>
                <ul>
                    <li>لا يشترط معدل الامتحان الشامل للطالب غير الأردني الذي يرغب التجسير بالجامعة ولكن يشترط النجاح
                        فقط في الامتحان الشامل وأن يتوافق تخصصه مع التخصص الملتحق به في الجامعة وفقا للقائمة المعتمدة من
                        جامعة البلقاء التطبيقية.</li>
                    <li>يتم احتساب الساعات من كليات المجتمع الأردنية للطلبة المجسرين وفقاً للآتي:
                        <ul>
                            <li>(55) ساعة معتمدة حداً أقصى شريطة أن لا تقل علامة كل مادة محتسبة عن (68%) لجميع التخصصات
                                باستثناء تخصصات الهندسة والصيدلة أن لا تقل علامة كل مادة محتسبة في الخطة عن (70%).</li>
                        </ul>
                    </li>
                </ul>

                <h2 style="margin-top: 40px;">التجسير للطلبة غير الأردنيين من كليات المجتمع غير الأردنية</h2>
                <ul>
                    <li>يشترط أن يكون الطالب قد أتم بنجاح درجة الدبلوم وبغض النظر عن المعدل وحصل على وثائق التخرج.</li>
                    <li>إحضار كتاب رسمي من الجهات المختصة في بلد الطالب يشير إلى أن درجة الدبلوم التي يحملها تؤهله
                        لإكمال دراسته بإحدى الجامعات في بلده. </li>
                    <li>يتم احتساب الساعات من كليات المجتمع غير الأردنية للطلبة المجسرين وفقاً للآتي:
                        <ul>
                            <li>التخصصات الهندسية والصيدلة: كل مادة حصل بها الطالب على علامة 70 أو ما يعادلها. </li>
                            <li>بقية التخصصات: كل مادة حصل بها الطالب على علامة 68% فأكثر أو ما يعادلها. </li>
                        </ul>
                    </li>
                    <li>الحد الأقصى للمواد المعادلة: (30) ساعة معتمدة بما يتوافق مع الخطة الدراسية للتخصص الملتحق به في
                        الجامعة.</li>
                    <li>أن يتوافق وصف المواد وعدد وحدات الساعات مع الخطط الدراسية المعمول بها في الجامعة. </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row lists">
            <div class="col-md-6 list">
                <h2>التجسير غير المناظر (كليات المجتمع)</h2>
                <p>يسمح للطلبة الذين يحملون دبلوم كلية مجتمع بمعدل لا يقل عن 68% الالتحاق في تخصصات غير مناظرة شريطة أن
                    لا يقل معدل الثانوية العامة عن الحد الأدنى المطلوب للالتحاق بالتخصص وأن يتوافق فرع الثانوية مع
                    التخصص الذي يرغب الطالب بتجسيره على أن لا يزيد عدد الساعات المعادلة عن (30) ساعة معتمدة من متطلبات
                    الجامعة فقط. ويطبق قرار علامات المواد المحتسبة حسب التجسير المناظر بحيث تحتسب من المتطلبات المذكورة
                    كل مادة حصل بها الطالب على 68% فأكثر إذا التحق بالتخصصات الإنسانية والاجتماعية و 70% إذا التحق
                    بتخصصات الهندسة والصيدلة.</p>
            </div>
            <div class="col-md-6 list">
                <h2>الوثائق المطلوبة للتقدم للتجسير</h2>
                <ul>
                    <li>شهادة الثانوية العامة الأصلية باللغة العربية واللغة الإنجليزية</li>
                    <li>صورة عن الهوية الشخصية أو شهادة الميلاد أو دفتر العائلة</li>
                    <li>دفتر خدمة العلم مؤجلاً للطلبة الأردنيين الذكور أو شهادة إنهاء الخدمة الاحتياطية أو الموافقة
                        الأمنية للعسكريين</li>
                    <li>صورتان شخصيتان حديثتان</li>
                    <li>كشف الدبلوم مصدق من وزارة التعليم العالي الأردنية (العنوان : عمان، الجبيهة، طريق ياجوز)</li>
                    <li>مصدقة الامتحان الشامل مصدقة من وزارة التعليم العالي الأردنية (العنوان: عمان، الجبيهة، طريق
                        ياجوز)</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<app-footer-ar></app-footer-ar>