<app-navbar-ar></app-navbar-ar>


<header>
    <div class="background"></div>
    <div class="mask">
        <div class="container">
            <div class="context typewriter">
                <h1><span> برنامج الدكتور زهير السباعي للمنح والقروض</span></h1>
            </div>
        </div>
    </div>
    <div class="arrow"></div>
</header>



<div class="about-us-one">
    <div class="container">
        <div class="space">
            <p class="mainpara">انطلاقاً من توجيهات حضرة راعي المسيرة جلالة الملك عبد الله الثاني بن الحسين المعظم حفظه الله ورعاه على دعم العلم والتعليم ورفع كفاءة وسوية الشباب الأردني لمواجهة متطلبات العصر وسوق العمل. فإنه ليسر جامعة العقبة للتكنولوجيا بتقديم منح وقروض لدعم الطلبة المتميزين وغير المقتدرين من خلال برامج مختلفة لدعم هذه الشريحة من الطلبة سواء الراغبين في الالتحاق للدراسة في الجامعة او من هم على مقاعد الدراسه لمنحهم الفرصة في متابعة تعليمهم الجامعي.</p>
        </div>
    </div>
</div>

<div class="about-us-two">
    <div class="container">
        <div class="row">
            <div class="col-md-6 space">
                <div class="background"
                    style="background: url('../../../../assets/images/asdf.jfif'); background-repeat: no-repeat; background-size: cover; border-radius: 4px;">
                </div>
            </div>
            <div class="col-md-6 prop">
                <div class="row">
                    <div class="col-md-12 colorlib-heading animate-box">
                        <h2>من هو الدكتور زهير السباعي؟</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 animate-box">
                        <!-- <p class="p"><strong>Based on the directives of His Majesty King Abdullah II bin Al Hussein, may God preserve and protect him, to support sciences and education to raise the efficiency and level of </strong></p> -->

                        <p style="text-align: justify;"> ولد الدكتور زهير أحمد السباعي في مكة المكرمة عام 1939 وبدأ مشواره التعليمي في مكة المكرمة واستطاع أن يحصل على بكالوريوس الطب والجراحة من جامعة عين شمس بالقاهرة عام 1962م، ثم حصل على دبلوم طب المناطق الحارة من ألمانيا عام 1965م ، وفي عام 1967م استطاع أن يحصل على ماجستير الصحة الدولية من الولايات المتحدة الأمريكية ، ثم حصل على الدكتوراه في التخطيط الصحي من جامعة جونز هوبكنز بالولاايات المتحدة الأمريكية عام 1969م ،واستطاع أن يحصل على زمالة الكلية البريطانية للأطباء ببريطانيا عام 1993 .</p>
                        
                        <h3> المناصب التي قادها خلال مسيرته العمليه </h3>
                        <ul style="text-align: justify;">
                            <li>إدارة التخطيط والبرامج بوزارة الصحة (1969) </li>
                            <li>هيئة التدريس بكلية الطب بجامعة الملك سعود (1973)</li>
                            <li> العميد المؤسس لكلية الطب بأبها (1980)</li>
                            <li> رئيسا للمجلس العربي لطب الأسرة والطفل بين عامي 1987 -1994 م.</li>
                            <li> رئيسا للجمعية السعودية لطب الأسرة والطفل في الفترة بين 1991- 1994 م.</li>
                            <li> رئيس تحرير مجلة طب الأسرة والمجتمع من عام 1993 إلى عام 1997م .</li>
                            <li> عضوا لمجلس الشورى منذ عام 1993 وحتى عام 2005م.</li>
                            <li> ترأس مجلس إدارة معاهد السباعي عام 1996م.</li>
                            <li> عضو مجلس أمناء جامعة الخليج العربي عام 2000 وحتى عام 2004 م.</li>
                            <li> مشرفا على مشروع جامعة العلوم والتقنية بالطائف عام 2000 وحتى 2004م </li>
                            <li>  أصبح رئيسا لجمعية تعزيز الصحة عام 2006م. </li>

                        </ul>
                        <h3> أهم إنجازاته </h3>
                        <ul style="text-align: justify;">
                            <li>شارك في الكثير من الندوات العلمية وأيضا المؤتمرات التي فاقت أعدادها المائة مؤتمر </li>
                            <li> نشر أكثر من 50 بحثا و22 كتابا</li>
                            <li> ساهم بشكل قوي في تأسيس كلية الطب بأبها </li>
                         </ul>
                
                        <br>
                        <!-- <p style="text-align: justify;">ولد الدكتور زهير أحمد السباعي في مكة المكرمة عام 1939 وبدأ مشواره التعليمي في مكة المكرمة واستطاع أن يحصل على بكالوريوس الطب والجراحة من جامعة عين شمس بالقاهرة عام 1962م، ثم حصل على دبلوم طب المناطق الحارة من ألمانيا عام 1965م ، وفي عام 1967م استطاع أن يحصل على ماجستير الصحة الدولية من الولايات المتحدة الأمريكية ، ثم حصل على الدكتوراه في التخطيط الصحي من جامعة جونز هوبكنز بالولاايات المتحدة الأمريكية عام 1969م ،واستطاع أن يحصل على زمالة الكلية البريطانية للأطباء ببريطانيا عام 1993 .</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="mission-and-vision">
    <div class="container">
        <div class="row">
            <div class="col-md-6 prop mission">
                <div class="row">
                    <div class="col-md-12 animate-box">
                        <h2>فكرة البرنامج</h2>
                        <p> تقديم الدعم المالي  للراغبين  بالإلتحاق للدراسه في جامعة العقبه للتكنولوجيا عن طريق منح جزئيه ولمرة واحده بداية من الفصل الدراسي الثاني من العام الجامعي 2020/2021 في واحدة من التخصصات التاليه: الصيدلة ، العلاج الطبيعي، التصوير الطبي والاشعاعي، هندسة العماره، الهندسة المدنية و الذكاء الأصطناعي.   بالإضافه الى تقديم قروض حسنة للطلبة المتفوقين وغير المتقدرين ممن هم على مقاعد الدراسة في مختلف التخصصات وضمن اسس وشروط معينة.</p>
                        <h2 style="margin-top: 20px">المستفيدون</h2> 
                        <ul>
                            <li> المنح- كافة الطلبة الأردنين الناجحين في الثانويه العامه والناجحين في الشهادة الجامعية المتوسطه لغايات التجسير الراغبين بالدراسة في جامعة العقبة للتكنولوجيا على أن تتوافر فيهم الشروط الخاصة بهذا البرنامج  </li>
                       <li> القرض- كافة الطلبة الأردنيين الدراسين في جامعة العقبة للتكنولوجيا على أن تتوافر فيهم الشروط الخاصة بهذا البرنامج</li>
                        </ul>
                       
                    </div>
                </div>
            </div>

            <div class="col-md-6 prop2 mission">
                <div class="row">
                    <div class="col-md-12 animate-box">
                         
                        <h2>أهداف البرنامج</h2>
                        <ul>
                            <li>المساهمة في رفع المستوى المعيشي لفئة الطلبة المتفوقين وغير المتقدرين من خلال إتاحة الفرصة لهم في الحصول على منحات دراسية جزئيه وقروض حسنه تساعدهم في إكمال مسيرة تعليمهم الجامعي. </li>
                            <li>تعزيز مبدأ تكافؤ الفرص بين الطلبة الأردنيين في كافة المحافظات من خلال حصولهم على فرص تعليمية متساوية بصرف النظر عن إمكانياتهم المادية. </li>
                            <li>تعزيز مبدأ التنافسية بين الطلبة الأردنيين على أسس العدالة والجدارة والشفافية.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="loans-and-scolarships">
    <div class="container">
    <h2>ماذا يقدم برنامج الدكتور زهير السباعي؟</h2>
        <br>
        <br>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">المنح</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">القروض</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
             <p> تقدم  منحة   " الدكتور زهير السباعي " فقط للطلبة الناجحين في الثانوية العامة او المجتازين للدرجه الدبلوم المتوسط والراغبين للدراسة في جامعة العقبة للتكنولوجيا وضمن التخصصات المدرجه في الجدول ادناه وبعدد محدد إزاء كل منحة.</p>                

                <table class="table table-bordered" style="margin: 50px 0 !important;">
                    <thead>
                        <tr>
                            <th scope="col">التخصص</th>
                            <th scope="col">عدد المنح المتوفرة</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>الصيدله</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>هندسة العمارة</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>الهندسه المدنية</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>العلاج الطبيعي</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>التصوير الطبي والاشعاعي</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>الذكاء الاصطناعي</td>
                            <td>4</td>
                        </tr>
                    
                    </tbody>
                </table>
                
                <h3> قيمة المنحه</h3>
                <p style="margin-top: 50px !important;"> قيمة المنحة هى 300-400 دينار اردني فقط لاغير تمنح لمرة واحده للطلبه الجدد الملتحقين للدراسة في الجامعة في واحد من التخصصات المشار اليها أعلاه شريطة تحقيقهم لشروط المنحة والتي تخضع للتنافسية  فيما بينهم حيث يخصم مبلغ المنحه من رسوم ساعات الطالب المستفيد منها </p>
<br>
                <p style="margin-bottom: 0">شروط المنحة:</p>

                <ul>
                    <li>أن يكون المتقدم اردني الجنسية</li>
                    <li>أن يكون طالب مستجد ويرغب في الدراسه في جامعة العقبة للتكنولوجيا على الفصل الدراسي الثاني من العام الجامعي 2020/2021</li>
                    <li>أن يقدم الوثائق التي تثبت دخل العائلة</li>
                    <li>أن يقدم الوثائق التي تبين موقع الإقامه</li>
                </ul>
<br>
<br>
                    <div class="btn btn-warning" routerLink="/ar/zohair-sebai-program/scholarship">التقديم على منحة الدكتور زهير السباعي</div>


            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                <p style="margin-top: 50px !important;"> يقدم قرض برنامج الدكتور زهير السباعي للطلبة الدراسين في جامغة العقبة للتكنولوجيا في جميع التخصصات وعلى اسس المنافسه بين المتقدمين وتمنح القروض اس تناداً الى التميز الأكاديمي والقدرة الماليه للطالب النتقدم للأستفادة من القرض.</p>

                <br>
                <p style="margin-bottom: 0">شروط القرض</p>
                <ul>
                    <li>أن يكون اردني الجنسية </li>
                    <li> أن يكون المتقدم للحصول على القرض على مقاعد الدراسه في جامعة العقبة للتكنولوجيا </li>
                   <li> أن يكون من الطلبه المتميزين أكاديميا</li>         
                   <li> أن لا يكون قد صدر بحق المتقدم للقرض اي عقوبه تادبيه اثناء دراسته في الجامعة</li>    
                 </ul>
                <br>
                <br>
                <p style="margin-bottom: 0">كيفية التسديد </p>
               
                <p> تمنح للمستفدين من القرض فترة سماح للبدء في تسديد مدتها فصل دراسي واحد وبعد ذلك يقوم المستفيد من القرض بتسديده بدفعات متساويه على فترات زمنية حسب ما تحدده الدائرة المالية في الجامعة  </p>
                <p> قيمة القرض هى  200 دينار أردني بحد اقصى  لكل طالب</p>
                <br>
<br>
                    <div class="btn btn-warning" routerLink="/ar/zohair-sebai-program/loan" >التقديم على قرض برنامج الدكتور زهير السباعي</div>
            </div>
          </div>
    </div>
</div>


<app-footer-ar></app-footer-ar>