<app-navbar-en></app-navbar-en>


<header>
    <div class="background"></div>
    <div class="mask">
        <div class="container">
            <div class="context typewriter">
                <h1><span>Scientific Research Dean</span></h1>
            </div>
        </div>
    </div>
    <div class="arrow"></div>
</header>





<div class="dean">
    <div class="background"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="picture">
                    <img src="../../../../../assets/images/colleges/pharmacy/people/Ahmad Fanatseh.gif" alt="">
                    <h4>Dr. Khalid Omari</h4>
                </div>
            </div>

            <div class="col-md-9">
                <div class="prop">
                    <p class="p"><strong>In the name of God, the Merciful, who says in his book, " And that man shall
                            have nothing but what he strives for- And that his striving shall soon be seen. Then shall
                            he be rewarded for it with the fullest reward-" God Almighty has spoken the truth, and peace
                            and blessings be upon His Messenger.</strong></p>

                    <p>Welcome to the website of the Deanship of Scientific Research at Aqaba University of Technology
                        to identify the Deanship's strategy, future vision, and mission. There is no doubt that the
                        Deanship of Scientific Research is making a lot of efforts to keep up with the future
                        developments in the field of scientific research leading to community service in various fields
                        of knowledge. The Deanship of Scientific Research works to encourage, support, and develop
                        outstanding research work to the best possible level by providing an attractive scientific
                        environment that stimulates excellence and innovation for researchers in all creative fields of
                        knowledge in order to achieve a worldwide pioneership. The presidency of this university is
                        giving scientific research a great interest and support because that reflects the strategic
                        directions of the university and because of the belief that universities hone talent as well as
                        creativity and develop the capabilities and ideas of leadership. They are the stimulator of
                        knowledge that enlightens the open minds in order to transform challenges into jobs. Inside the
                        university rooms and research laboratories, the minds of forward-thinking are built to serve
                        sustainable development in the region. The Deanship of Scientific Research is responsible for
                        developing the scientific research process and motivating and encouraging faculty members and
                        students to conduct research in the scientific and practical and educational fields to meet the
                        national needs. The Deanship is working on the communication between the university colleges and
                        research centers to cooperate and facilitate solving the problems facing the research aspects.
                        The deanship is also keen to communicate with third parties, institutions, and research centers
                        both inside or outside the Kingdom with the aim of activating the role of research partnership
                        and sharing the experiences of others because that has a positive impact on the development of
                        research side at Aqaba University of Technology.</p>
                    <p>We hope this site gets your interest and admiration, with our sincere appreciation for your visit
                        and our desire to get your suggestions to help us develop and improve the services provided by
                        the Deanship.</p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about-us-three">
    <div class="container">
        <div class="row">
            <div class="col-md-6 space">
                <div class="background"></div>
            </div>
            <div class="col-md-6 prop">
                <div class="row">
                    <div class="col-md-12 colorlib-heading animate-box">
                        <h2>About</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 animate-box">
                        <p class="p"><strong>The Deanship of Scientific Research was established along with the
                                establishment of the university at the beginning of the academic year of 2015/2016 to
                                undertake the implementation of the policy of scientific research and the organization
                                and support of its affairs according to the scientific research standards.</strong></p>
                        <p>The Deanship of Scientific Research undertakes one of the most important functions of the
                            university which is knowledge industry and employing and disseminating cutting-edge
                            technological skills to create the appropriate environment for scientific research in the
                            Hashemite Kingdom of Jordan through offering the facilities needed to support scientific
                            research project , publishing in international refereed journal that have a high Impact
                            factor, and participating in local, regional, and international conferences, seminars,
                            workshops. The Deanship gives incentive awards for authentic, innovative, and scientific
                            research by distinguishing researchers. The deanship is responsible for stimulating the
                            appropriate environment to promote scientific production of faculty members and students,
                            and the deanship contributes to pushing the scientific process of the university forward and
                            its development and support.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="mission-and-vision">
    <div class="container">
        <div class="row">
            <div class="col-md-6 prop">
                <div class="row">
                    <div class="col-md-12 animate-box">
                        <h2>Our Vision</h2>
                        <p>Excellence, global pioneership, creativity, and innovation in the creation of productive and
                            research-oriented environment for community service issues and in line with contemporary
                            technological developments.</p>
                        <h2 style="margin-top: 20px">Our Mission</h2>
                        <p>Increasing the support of scientific research and the dissemination of knowledge, creativity
                            and innovation in all areas by using available technological means in accordance with the
                            perspective of overall high quality to meet the local and regional needs, and all that is
                            based on the transformation of scientific and technical production pattern from being an
                            individual creativity into mass production.</p>
                        <h2 style="margin-top: 20px">Values</h2>
                        <ul>
                            <li>Ethics of Scientific Research</li>
                            <li>Originality and creativity</li>
                            <li>pioneership and innovation</li>
                            <li>Professionalism and transparency</li>
                            <li>Cooperation and shared responsibility</li>
                            <li>High-quality local community service</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 prop2">
                <div class="row">
                    <div class="col-md-12 animate-box">
                        <h2>Objectives</h2>
                        <ul>
                            <li>Preparation of the Strategic Plan for Scientific Research at the university.</li>
                            <li>Raising the level of outstanding research work and activating its role in the
                                development of society.</li>
                            <li>Achieving leadership and excellence in scientific research and achieving creativity and
                                innovation in all fields.</li>
                            <li>Providing information bank of scientific research at the university.</li>
                            <li>Cooperation with the Jordanian, Arab and international universities in various fields of
                                research.</li>
                            <li>Consolidating the ethics of scientific research and the dissemination of scientific
                                culture among researchers.</li>
                            <li>Stimulating researchers at the university and encouraging them to work within
                                multi-disciplinary research teams.</li>
                            <li>Supporting scientific research and production and supporting the applications for
                                participation in scientific conferences, seminars and workshops locally, regionally and
                                globally.</li>
                            <li>Activating the role of the Deanship of Scientific Research by making the Deanship get
                                the membership in the global research networks.</li>
                            <li>Documenting the production of scientific research at Aqaba University of Technology</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<div class="list_requirements_three">
    <div class="container">
        <!-- <h2>Transfer to Aqaba University of Technology</h2> -->
        <!-- <p class="center">Students are allowed to transfer from other universities to Aqaba University of Technology if they provide the following documents:</p> -->
        <div class="row lists">
            <div class="col-md-6 list">
                <h2>Tasks</h2>
                <p>The dean of the scientific research undertakes the following tasks:</p>
                <ul>
                    <li>Preparing the annual budget for the Deanship of Scientific Research</li>
                    <li>Implementation of the University's policy of scientific research in terms of organization,
                        support and publication.</li>
                    <li>Seeking funding sources for scientific research from within and outside the university.</li>
                    <li>Collecting information on scientific research projects conducted at the university, and
                        following them up.</li>
                    <li>Contacting centers and institutions related to scientific research within and outside the
                        Kingdom and coordinating with them.</li>
                    <li>Providing periodic reports on scientific research conducted at the university.</li>
                    <li>Any other matters related to scientific research.</li>
                </ul>
            </div>

            <div class="col-md-6 list">
                <h2>The Achievements of the Deanship</h2>
                <ul>
                    <li>Preparing the instructions and pillars of scientific research projects.</li>
                    <li>Preparing the instructions of attending refereed scientific conferences.</li>
                    <li>Preparing the instructions of publication in specialized refereed scientific journals.</li>
                    <li>Preparing the instructions of giving rewards for faculty members in exchange for publishing
                        research in international journals with high Impact Factor.</li>
                    <li>Development of scientific research models to be compatible with the requirements of quality
                        assurance in the university in all areas related to scientific research.</li>
                    <li>Building a database of the funded scientific research projects and the researches published in
                        specialized refereed scientific journals and conferences.</li>
                    <li>Increasing the means of cooperation and communication with all the sides interested in
                        scientific research within Jordan, such as universities, the Higher Council for Science and
                        Technology, and Scientific Research Support Fund, and Support to Research, Technological
                        Development and Innovation in Jordan (SRTD II).</li>
                    <li>Increasing the means of cooperation with regional and international parties interested in
                        scientific research, such as " European Union, the Arab network for scientific research, and the
                        Federation of Arab universities, and The Federation of the Universities of the Islamic World ".
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>




<div class="list_requirements_two">
    <div class="container">
        <!-- <h2>Transfer to Aqaba University of Technology</h2> -->
        <!-- <p class="center">Students are allowed to transfer from other universities to Aqaba University of Technology if they provide the following documents:</p> -->
        <div class="row lists">
            <div class="col-md-6 list">
                <h2>The Board of Scientific Research</h2>
                <p>The Council supervises the scientific research and scientific publication, and it is headed by the
                    Dean of Scientific Research. The Council includes representatives of the various faculties at the
                    university and representatives of the local community with competence and experience, The Scientific
                    Research Council undertakes the following tasks:</p>
                <ul>
                    <li>Proposing the general policy for scientific research priorities at the university and their
                        means of implementation.</li>
                    <li>Developing the plan of scientific research project and the pillars of cooperation and
                        coordination with other relevant scientific research institutions.</li>
                    <li>Preparing the necessary instructions for organizing the affairs of scientific research,
                        including its promotion, coordination, support, follow-up, evaluation, and publishing.</li>
                    <li>Developing and implementing the necessary conditions and terms for keeping the university's
                        rights and researchers' rights of the scientific research whether singly conducted at the
                        university or in cooperation with others from outside the university</li>
                    <li>Discussing the budget of the scientific research and recommending its inclusion in the
                        university's budget.</li>
                    <li>Recommendation to fund the publication of valuable research and publishing translated,
                        evaluated, and written manuscripts.</li>
                    <li>Examination and approval of scientific research projects.</li>
                    <li>Endorsing the annual report of the Deanship of Scientific Research.</li>
                    <li>Considering any other matters related to scientific research</li>
                </ul>
            </div>

            <div class="col-md-6 list">
                <h2>Translation and Publication</h2>
                <p>The Deanship of Scientific Research supervises the preparation of regulations and instructions of
                    funding the scientific research published in the university. The Deanship receives researches,
                    books, and translated studies and then evaluates and prepares them for publication within a certain
                    mechanism to ensure the rights of the university on the one hand and the rights of authors on the
                    other hand.</p>
            </div>
        </div>
    </div>
</div>




<app-footer-en></app-footer-en>