@font-face {
    font-family: Proxima-Nova-Alt;
    src        : url("../../../../../assets/fonts/Proxima-Nova-Alt/Proxima\ Nova\ Alt\ Bold.otf");
}

@font-face {
    font-family: Proxima-Nova-Alt-Light;
    src        : url("../../../../../assets/fonts/Proxima-Nova-Alt/Proxima\ Nova\ Alt\ Light.otf");
}

@font-face {
    font-family: Merriweather;
    src        : url("../../../../../assets/fonts/Merriweather/Merriweather-Bold.otf");
}

@font-face {
    font-family: Merriweather-Light;
    src        : url("../../../../../assets/fonts/Merriweather/Merriweather-Regular.otf");
}

@font-face {
    font-family: Palatino-Linotype;
    src        : url("../../../../../assets/fonts/Palatino-Linotype/pala\ bold.ttf");
}

@font-face {
    font-family: Cairo;
    src        : url("../../../../../assets/fonts/Cairo/Cairo-Black.ttf");
}

@font-face {
    font-family: Tajawal;
    src        : url("../../../../../assets/fonts/Tajawal/Tajawal-Medium.ttf");
}

@font-face {
    font-family: Tajawal-Bold;
    src        : url("../../../../../assets/fonts/Tajawal/Tajawal-ExtraBold.ttf");
}

$heading-font  :Cairo;
$pargraphs-font:Tajawal;
$bottons-font  :Tajawal-Bold;

$primary-blue      : #181e38;
$primary-light-blue: #272e4a;
$primary-white     : #f7f7f7;
$primary-yellow    : #FFB93F;

.colorlib-nav ul li.activee>a {
    color   : white;
    position: relative;
    position: relative;
}

.arrow {
    position        : absolute;
    bottom          : 0;
    width           : 100%;
    padding-bottom  : 40px;
    background-color: #f1f1f1;
}

.arrow:before,
.arrow:after {
    content         : '';
    position        : absolute;
    bottom          : 100%;
    width           : 50%;
    padding-bottom  : inherit;
    background-color: inherit;
}

.arrow:before {
    right                   : 50%;
    -ms-transform-origin    : 100% 100%;
    -webkit-transform-origin: 100% 100%;
    transform-origin        : 100% 100%;
    -ms-transform           : skewX(45deg);
    -webkit-transform       : skewX(45deg);
    transform               : skewX(45deg);
}

.arrow:after {
    left                    : 50%;
    -ms-transform-origin    : 0 100%;
    -webkit-transform-origin: 0 100%;
    transform-origin        : 0 100%;
    -ms-transform           : skewX(-45deg);
    -webkit-transform       : skewX(-45deg);
    transform               : skewX(-45deg);
}

header {
    position: relative;
    overflow: hidden;

    .background {
        position         : absolute;
        width            : 100%;
        height           : 100%;
        background       : url("../../../../../assets/images/AUT-university-bg.png");
        background-size  : cover;
        background-repeat: no-repeat;
        z-index          : -2;
    }

    .mask {
        z-index: 100;

        @media (max-width: 575px) {
            img {
                margin: 0 15px;
            }
        }

        .img {
            position: absolute;
            right   : 0;
            z-index : -10;
            top     : 0;

            img {}
        }

        .container {
            @media only screen and (min-width: 755px) {
                .context {
                    padding-top   : 13%;
                    padding-bottom: 18%;

                    h1 {
                        font-size  : 53px;
                        line-height: 81px;

                        span {
                            padding: 5px 26px 5px 15px;
                        }
                    }
                }
            }

            @media only screen and (max-width: 755px) {
                .context {
                    padding-top   : 13%;
                    padding-bottom: 24%;

                    h1 {
                        font-size  : 40px;
                        line-height: 64px;

                        span {
                            padding: 5px 26px 5px 15px;
                        }
                    }
                }
            }

            @media only screen and (max-width: 500px) {
                .context {
                    padding-top   : 15%;
                    padding-bottom: 27%;

                    h1 {
                        font-size  : 30px;
                        line-height: 50px;

                        span {
                            padding: 10px 26px 10px 15px;
                        }
                    }
                }
            }

            @media only screen and (max-width: 425px) {
                .context {
                    padding-top   : 15%;
                    padding-bottom: 30%;

                    h1 {
                        font-size  : 145%;
                        line-height: 50px;

                        span {
                            padding: 10px 26px 10px 15px;
                        }
                    }
                }
            }

            @media only screen and (max-width: 365px) {
                .context {
                    padding-top   : 15%;
                    padding-bottom: 33%;

                    h1 {
                        font-size  : 137%;
                        line-height: 50px;

                        span {
                            padding: 10px 26px 10px 15px;
                        }
                    }
                }
            }

            .context {
                text-align: center;

                h1 {
                    font-family: $heading-font;
                }

                h1 {
                    font-family: $heading-font;
                    color      : $primary-white;

                    span {
                        background-color: #181e3878;
                    }
                }
            }
        }
    }
}

















.dean {
    text-align: right;
    direction : rtl;
    position  : relative;
    z-index   : -1;

    .background {
        position           : absolute;
        height             : 100%;
        width              : 100%;
        background-color   : #f1f1f1;
        // filter: brightness(65%);
        background-repeat  : no-repeat;
        background-position: center;
        background-size    : cover;
    }

    @media (max-width: 786px) {
        .container {
            padding-top   : 0px;
            padding-bottom: 70px;

        }
    }

    @media (min-width: 786px) {
        .container {
            padding-top   : 40px;
            padding-bottom: 100px;
        }
    }

    .container {

        .picture {
            margin: 0 auto 20px;

            img {
                width        : 100%;
                border-radius: 6px;
                filter       : grayscale(100%);
            }
        }

        h4 {
            text-align   : center;
            margin-top   : 20px;
            font-family  : $heading-font;
            color        : $primary-blue;
            margin-bottom: 40px;
        }

        .prop {
            text-align: right;

            @media only screen and (min-width: 600px) {

                p,
                .p {
                    font-size    : 23.25px;
                    margin-bottom: 32px;
                }
            }

            @media only screen and (max-width: 600px) {

                p,
                .p {
                    font-size    : 20.25px;
                    margin-bottom: 32px;
                }
            }

            @media only screen and (max-width: 500px) {

                p,
                .p {
                    font-size    : 18.25px;
                    margin-bottom: 15px;
                }
            }

            .p {
                margin-bottom: 10px;
                color        : $primary-blue;
                font-family  : $pargraphs-font;
                opacity      : 1;
            }

            p {
                font-family: $pargraphs-font;
                color      : $primary-blue;
                opacity    : 0.95;
            }
        }
    }
}























.about-us-three {
    text-align      : right;
    direction       : rtl;
    overflow        : hidden;
    background-color: #ffffff;

    @media (max-width: 786px) {
        .container {
            padding: 70px 15px 70px;

        }
    }

    @media (min-width: 786px) {
        .container {
            padding: 100px 15px 100px;

        }
    }

    .container {


        .row {
            .space {
                padding: 0 20px;

                .background {
                    background         : url("../../../../../assets/images/AUT-university-bg.png");
                    background-repeat  : no-repeat;
                    background-position: center;
                    background-size    : cover;
                    box-shadow         : 26px 26px 78px -34px rgba(0, 0, 0, 0.425);
                    border-radius      : 4px;
                    width              : 100%;
                    height             : 100%;
                }
            }

            .prop {
                padding   : 40px 20px 5px;
                text-align: right;
            }

            .colorlib-heading {
                z-index: 200;
            }

            .prop {
                @media only screen and (min-width: 600px) {
                    h2 {
                        font-size    : 40px;
                        margin-bottom: 40px;

                    }

                    p,
                    .p {
                        font-size    : 23.25px;
                        margin-bottom: 32px;

                    }
                }

                @media only screen and (max-width: 600px) {
                    h2 {
                        font-size    : 35px;
                        margin-bottom: 40px;

                    }

                    p,
                    .p {
                        font-size    : 20.25px;
                        margin-bottom: 32px;

                    }
                }

                @media only screen and (max-width: 500px) {
                    h2 {
                        font-size    : 27px;
                        margin-bottom: 30px;

                    }

                    p,
                    .p {
                        font-size    : 18.25px;
                        margin-bottom: 15px;

                    }
                }

                h2 {
                    font-family  : $heading-font;
                    margin-bottom: 20px;
                    color        : $primary-blue;
                }

                .p {
                    margin-bottom: 10px;
                    color        : $primary-blue;
                    font-family  : $pargraphs-font;
                    opacity      : 1;
                }

                p {
                    font-family: $pargraphs-font;
                    color      : $primary-blue;
                    opacity    : 0.95;
                }

                @media only screen and (min-width: 600px) {
                    li {
                        font-size    : 22.25px;
                        margin-bottom: 32px;

                    }
                }

                @media only screen and (max-width: 600px) {
                    li {
                        font-size    : 18.25px;
                        margin-bottom: 32px;

                    }
                }

                @media only screen and (max-width: 500px) {
                    li {
                        font-size    : 17.25px;
                        margin-bottom: 15px;

                    }
                }

                ul {
                    margin-bottom: 40px;
                }

                li {
                    font-family: $pargraphs-font;
                    font-weight: 600;
                    color      : $primary-blue;
                    opacity    : 0.6;
                    margin     : 0;
                }
            }
        }
    }
}















.mission-and-vision {
    text-align: right;
    direction : rtl;
    overflow  : hidden;

    // background       : linear-gradient(45deg, #090b159c, #181e389c), url("../../../../assets/images/unnamed.jpg") !important;
    // background-size  : cover;
    // background-repeat: no-repeat;
    background       : linear-gradient(45deg, #d69f2278, #ffca339e), url("../../../../../assets/images/AUT-aqaba-bg.png");
    background-size  : cover;
    background-repeat: no-repeat;


    @media (max-width: 786px) {
        .container {
            padding: 70px 15px 70px;

        }
    }

    @media (min-width: 786px) {
        .container {
            padding: 70px 15px 70px;

        }
    }

    .container {


        .row {

            .prop {
                text-align: right;

                @media only screen and (min-width: 600px) {
                    h2 {
                        font-size    : 35px;
                        margin-bottom: 40px;

                    }

                    p {
                        font-size    : 24.25px;
                        margin-bottom: 32px;

                    }
                }

                @media only screen and (max-width: 600px) {
                    h2 {
                        font-size    : 30px;
                        margin-bottom: 40px;

                    }

                    p {
                        font-size    : 20.25px;
                        margin-bottom: 32px;

                    }
                }

                @media only screen and (max-width: 500px) {
                    h2 {
                        font-size    : 25px;
                        margin-bottom: 30px;

                    }

                    p {
                        font-size    : 18.25px;
                        margin-bottom: 16px;

                    }
                }

                h2 {
                    font-family  : $heading-font;
                    margin-bottom: 20px;
                    color        : $primary-blue;
                }

                p {
                    font-family: $pargraphs-font;
                    font-weight: 600;
                    color      : $primary-blue;
                    opacity    : 0.8;
                    margin     : 0;
                }

                @media only screen and (min-width: 600px) {
                    li {
                        font-size    : 22.25px;
                        margin-bottom: 32px;

                    }
                }

                @media only screen and (max-width: 600px) {
                    li {
                        font-size    : 18.25px;
                        margin-bottom: 32px;

                    }
                }

                @media only screen and (max-width: 500px) {
                    li {
                        font-size    : 17.25px;
                        margin-bottom: 15px;

                    }
                }

                li {
                    font-family: $pargraphs-font;
                    font-weight: 600;
                    color      : $primary-blue;
                    opacity    : 0.75;
                    margin     : 0;
                }
            }






            @media only screen and (max-width: 768px) {
                .prop2 {
                    margin-top: 20px;
                }
            }

            .prop2 {
                text-align: right;


                @media only screen and (min-width: 600px) {
                    h2 {
                        font-size    : 35px;
                        margin-bottom: 40px;

                    }

                    li {
                        font-size    : 22.25px;
                        margin-bottom: 32px;

                    }
                }

                @media only screen and (max-width: 600px) {
                    h2 {
                        font-size    : 30px;
                        margin-bottom: 40px;

                    }

                    li {
                        font-size    : 18.25px;
                        margin-bottom: 32px;

                    }
                }

                @media only screen and (max-width: 500px) {
                    h2 {
                        font-size    : 25px;
                        margin-bottom: 30px;

                    }

                    li {
                        font-size    : 17.25px;
                        margin-bottom: 15px;

                    }
                }

                h2 {
                    font-family  : $heading-font;
                    margin-bottom: 20px;
                    color        : $primary-blue;
                }

                li {
                    font-family: $pargraphs-font;
                    font-weight: 600;
                    color      : $primary-blue;
                    opacity    : 0.75;
                    margin     : 0;
                }
            }

        }
    }
}



























.list_requirements_one,
.list_requirements_two,
.list_requirements_three {
    text-align      : right;
    direction       : rtl;
    background-color: #f1f1f1;
    padding         : 50px 0 70px;

    .container {
        @media only screen and (min-width: 600px) {
            h2 {
                font-size    : 40px;
                margin-bottom: 40px;

            }
        }

        @media only screen and (max-width: 600px) {
            h2 {
                font-size    : 35px;
                margin-bottom: 40px;

            }
        }

        @media only screen and (max-width: 500px) {
            h2 {
                font-size    : 27px;
                margin-bottom: 30px;

            }
        }

        h2 {
            text-align   : center;
            font-family  : $heading-font;
            margin-bottom: 60px;
            color        : $primary-blue;
        }

        .center {
            font-family: $pargraphs-font;
            font-weight: 600;
            color      : $primary-blue;
            opacity    : 0.7;
            margin     : -30px auto 60px;
            text-align : center;
            max-width  : 600px;

        }

        hr {
            margin    : 20px 0 35px;
            border-top: solid 2px $primary-blue;
            opacity   : 0.2;
        }

        .lists {
            .list {
                @media only screen and (min-width: 600px) {
                    h2 {
                        font-size    : 30px;
                        margin-bottom: 40px;
                    }

                    li {
                        font-size    : 22.25px;
                        margin-bottom: 32px;
                    }
                }

                @media only screen and (max-width: 600px) {
                    h2 {
                        font-size    : 25px;
                        margin-bottom: 40px;
                    }

                    li {
                        font-size    : 18.25px;
                        margin-bottom: 32px;
                    }
                }

                @media only screen and (max-width: 500px) {
                    h2 {
                        font-size    : 20px;
                        margin-bottom: 30px;
                    }

                    li {
                        font-size    : 17.25px;
                        margin-bottom: 15px;
                    }
                }

                h2 {
                    text-align   : right;
                    font-family  : $heading-font;
                    margin-bottom: 20px;
                    color        : $primary-blue;
                    opacity      : 0.9;
                }

                li {
                    font-family: $pargraphs-font;
                    font-weight: 600;
                    color      : $primary-blue;
                    opacity    : 0.6;
                    margin     : 8px 0;
                }

                p {
                    font-family: $pargraphs-font;
                    font-weight: 600;
                    color      : $primary-blue;
                    opacity    : 0.7;
                    margin     : 0;
                }
            }
        }
    }
}



.list_requirements_two {
    background-color: white;
    padding         : 70px 0 70px;
}


.list_requirements_three {
    background-color: #f1f1f1;
    padding         : 70px 0 70px;
}