<app-navbar-ar></app-navbar-ar>


<header>
    <div class="background"></div>
    <div class="mask">
        <div class="container">
            <div class="context typewriter">
                <h1><span>عمادة البحث العلمي</span></h1>
            </div>
        </div>
    </div>
    <div class="arrow"></div>
</header>





<div class="dean">
    <div class="background"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="picture">
                    <img src="../../../../../assets/images/colleges/pharmacy/people/Ahmad Fanatseh.gif" alt="">
                    <h4>د. خالد العمري</h4>
                </div>
            </div>

            <div class="col-md-9">
                <div class="prop">
                    <p class="p"><strong>بسم الله القائلِ في كتابه "وأنْ ليسَ للإنسانِ إلا ما سعى وأن سعيَه سوف يُرى ثم
                            يُجزاه الجزاءَ الأوفى" صدق الله العظيم. والحمد لله سبحانه وتعالى، والصلاةُ والسلامُ على
                            رسوله الأمين.</strong></p>

                    <p>أهلا بك في الموقع الخاص بعمادة البحث العلمي بجامعة العقبة للتكنولوجيا للتعرف على استراتيجية
                        العمادة ورؤيتها ورسالتها المستقبلية. لا شك أن عمادة البحث العلمي تبذل الكثير من الجهود لمواكبة
                        التحديات المستقبلية في مجال البحث العلمي بما يؤدي إلى خدمة المجتمع المحلي في مختلف ميادين
                        المعرفة، وهي في سبيل ذلك تعمل على تشجيع العمل البحثي المتميز ودعمه وتطويره والرقي به إلى أفضل
                        مستوى ممكن من خلال توفير بيئة علمية جاذبة ومحفزة تدعم التميز والابتكار للباحثين في جميع مجالات
                        المعرفة الإبداعية لتحقيق الريادة العالمية. وقد ارتأت إدارة هذه الجامعة أن يحظى البحث العلمي
                        باهتمام ودعم كبيرين يعكس التوجهات الإستراتيجية للجامعة، إيمانا بأن الجامعات بوتقة تصقل فيها
                        المواهب والإبداعات، وتنمى فيها القدرات والأفكار الريادية، فهي المحض الأول للتألق المعرفي الذي
                        تصاغ فيها العقول المتفتحة المتفاعلة مع متطلبات تحويل التحديات إلى فرص عمل، وداخل قاعتها ومعاملها
                        البحثية تبنى العقول المتطلعة لخدمة التنمية المستدامة بالمنطقة. وتعد عمادة البحث العلمي الجهة
                        المسئولة عن تطوير عملية البحث العلمي وتحفيزة وتشجيع أعضاء الهيئة التدريسية والطلبة لإجراء البحوث
                        في المجالات العلمية والتطبيقية والتربوية الملبية للاحتياجات الوطنية، كما تعمل العمادة على
                        التواصل بين كليات الجامعة ومراكزها البحثية بهدف التعاون وتسهيل حل المشكلات التي تواجه الجوانب
                        البحثية، كما تحرص العمادة على التواصل مع الجهات الخارجية، وكذلك المؤسسات والمراكز البحثية سواء
                        داخل المملكة أو خارجها بهدف تفعيل دور التواصل والشراكة البحثية والإطلاع على تجارب الآخرين لما له
                        من مردود إيجابي على تطوير الجانب البحثي لجامعة العقبة للتكنولوجيا.</p>
                    <p>نأمل أن يحوز الموقع على إهتمامكم وإعجابكم، مع خالص تقديرنا لزيارتكم ورغبتنا الأكيدة في تلقي
                        اقتراحاتكم أو معلومات منكم تساعدنا على تطوير وتحسين الخدمات التي تقدمها العمادة .</p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about-us-three">
    <div class="container">
        <div class="row">
            <div class="col-md-6 space">
                <div class="background"></div>
            </div>
            <div class="col-md-6 prop">
                <div class="row">
                    <div class="col-md-12 colorlib-heading animate-box">
                        <h2>نبذة عن العمادة</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 animate-box">
                        <p class="p"><strong>تأسست عمادة البحث العلمي مع تأسيس الجامعة في بداية العام الجامعي 2015/2016
                                لتتولى تنفيذ سياسة البحث العلمي وتنظيم شؤونه ودعمه وفق أنظمة البحث العلمي، هذا وترعى
                                عمادة البحث العلمي إحدى أهم وظائف الجامعة وهي صناعة المعرفة الريادية المتميزة وتوظيف
                                المهارات التكنولوجية المتطورة ونشرها بهدف تهيئة البيئة المناسبة للبحث العلمي في المملكة
                                الأردنية الهاشمية</strong></p>
                        <p>وذلك من خلال ما تقدمه من تسهيلات لازمة لدعم مشروع البحث العلمي، والنشر في مجلات عالمية محكمة
                            ومتخصصة لها معامل تأثير (Impact Factor)، وطلبات حضور المشاركة في المؤتمرات والندوات وورش
                            العمل المتخصصة العلمية المحلية والإقليمية والعالمية، بالاضافة تعمل العمادة على تخصيص جوائز
                            تشجيعية وتقديرية للبحوث العلمية القيمة والأصيلة والمبتكرة والإبداعات العلمية من جانب باحثين
                            متميزين، وتهيئة المناخ البحثي الملائم وذلك لتعزيز دعم الانتاج العلمي لأعضاء هيئة التدريس
                            والطلبة وكل جهد يسهم في دفع المسيرة العلمية للجامعة وتطويرها.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="mission-and-vision">
    <div class="container">
        <div class="row">
            <div class="col-md-6 prop">
                <div class="row">
                    <div class="col-md-12 animate-box">
                        <h2>الرؤية</h2>
                        <p>التميز والريادة العالمية والإبداع والابتكار في خلق بيئة بحثية منتجة وموجهة لخدمة قضايا
                            المجتمع، وبما ينسجم مع التطورات التكنولوجية المعاصرة.</p>
                        <h2 style="margin-top: 20px">الرسالة</h2>
                        <p>الارتقاء في دعم البحث العلمي ونشر المعرفة والإبداع والابتكار في المجالات كافة باستخدام
                            الوسائل التكنولوجية المتاحة وفق منظور الجودة الشاملة لتلبية الاحتياجات المحلية والاقليمية
                            المبنية على مفهوم تحول نمط الإنتاج العلمي والتقني، من مرحلة الإبداع الفردي الى الإنتاج
                            الجماعي.</p>
                        <h2 style="margin-top: 20px">القيم</h2>
                        <ul>
                            <li>أخلاقيات البحث العلمي</li>
                            <li>الأصالة والإبداع</li>
                            <li>الريادة والابتكار</li>
                            <li>الاحترافية والشفافية</li>
                            <li>التعاون والمسؤولية المشتركة</li>
                            <li>الجودة العالية وخدمة المجتمع المحلي</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 prop2">
                <div class="row">
                    <div class="col-md-12 animate-box">
                        <h2>الأهداف</h2>
                        <ul>
                            <li>إعداد الخطة الإستراتيجية للبحث العلمي في الجامعة.</li>
                            <li>الارتقاء بمستوى العمل البحثي المتميز وتفعيل دوره في تطوير المجتمع.</li>
                            <li>تحقيق الريادة والتميز في البحث العلمي والإبداع والابتكار في المجالات كافة.</li>
                            <li>توفير قاعدة معلومات بحثية عن البحث العلمي في الجامعة.</li>
                            <li>التعاون مع الجامعات الأردنية والعربية والدولية في المجالات البحثية المختلفة.</li>

                            <li>ترسيخ أخلاقيات البحث العلمي ونشر الثقافة العلمية لدى الباحثين.</li>
                            <li>تحفيزا لباحثون في الجامعة وتشجيعهم على العمل ضمن فرق بحثية متعددة الاختصاصات.</li>
                            <li>دعم الإنتاج العلمي البحثي وطلبات المشاركة في المؤتمرات العلمية والندوات وورش العمل
                                محليًا واقليميًا وعالميًا.</li>
                            <li>تفعيل دور عمادة البحث العلمي من خلال حصول العمادة على عضوية في الشبكات البحثية العالمية.
                            </li>
                            <li>توثيق نتاج البحث العلمي في جامعة العقبة للتكنولوجيا.</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<div class="list_requirements_three">
    <div class="container">
        <!-- <h2>Transfer to Aqaba University of Technology</h2> -->
        <!-- <p class="center">Students are allowed to transfer from other universities to Aqaba University of Technology if they provide the following documents:</p> -->
        <div class="row lists">
            <div class="col-md-6 list">
                <h2>المهمات</h2>
                <p>يتولى العميد المهمات والصلاحيات التالية:</p>
                <ul>
                    <li>إعداد مشروع الموازنة السنوية لعمادة البحث العلمي.</li>
                    <li>تنفيذ سياسة الجامعة الخاصة بالبحث العلمي من حيث التنظيم والدعم والنشر.</li>
                    <li>السعي لإيجاد مصادر تمويل للبحث العلمي من داخل الجامعة وخارجها.</li>
                    <li>جمع المعلومات عن مشروعات البحث العلمي في الجامعة، والعمل على متابعتها.</li>
                    <li>الإتصال بالمؤسسات والمراكز ذات العلاقة بالبحث العلمي داخل المملكة وخارجها والتنسيق معها.</li>
                    <li>تقديم تقارير دورية حول البحث العلمي في الجامعة.</li>
                    <li>أي أمور أخرى تتعلق بالبحث العلمي.</li>
                </ul>
            </div>

            <div class="col-md-6 list">
                <h2>إنجازات العمادة</h2>
                <ul>
                    <li>إعداد تعليمات وأسس دعم مشاريع البحث العلمي.</li>
                    <li>إعداد تعليمات وأسس دعم حضور المؤتمرات العلمية المحكمة.</li>
                    <li>إعداد أسس دعم النشر في مجلات علمية محكمة ومتخصصة.</li>
                    <li>إعداد أسس تقديم مكافآت لأعضاء هيئة التدريس مقابل نشرهم بحوث في مجلات عالمية محكمة ومتخصصة لها
                        معامل تأثير (Impact Factor).</li>

                    <li>تطوير نماذج البحث العلمي تتوافق مع متطلبات نظام إدارة ضمان الجودة في الجامعة في جميع المجالات
                        المتعلقة بالبحث العلمي.</li>
                    <li>بناء قاعدة بيانات لمشاريع البحوث العلمية المدعومة والبحوث المنشورة في مجلات ومؤتمرات علمية محكمة
                        ومتخصصة.</li>
                    <li>زيادة سبل التعاون والتواصل مع الجهات المعنية بالبحث العلمي داخل الأردن "الجامعات، والمجلس الأعلى
                        للعلوم والتكنولوجيا، وصندوق دعم البحث العلمي، ومشروع دعم البحث والتطوير التكنولوجي والإبداع في
                        الأردن (SRTD II).</li>
                    <li>زيادة سبل التعاون مع جهات إقليمية ودولية مهتمة بالبحث العلمي "الاتحاد الأوروبي، والشبكة العربية
                        للبحث العلمي، واتحاد الجامعات العربية، واتحاد جامعات العالم الإسلامي".</li>
                </ul>
            </div>
        </div>
    </div>
</div>




<div class="list_requirements_two">
    <div class="container">
        <!-- <h2>Transfer to Aqaba University of Technology</h2> -->
        <!-- <p class="center">Students are allowed to transfer from other universities to Aqaba University of Technology if they provide the following documents:</p> -->
        <div class="row lists">
            <div class="col-md-6 list">
                <h2>مجلس البحث العلمي</h2>
                <p>يشرف مجلس البحث العلمي على البحث العلمي والنشر العلمي، برأسه عميد البحث العلمي ويضم المجلس ممثلي
                    الكليات المختلفة في الجامعة وممثلين عن المجتمع المحلي من ذوي الاختصاص والخبرة، ويتولى مجلس البحث
                    العلمي المهام والصلاحيات التالية:</p>
                <ul>
                    <li>يقترح السياسة العامة للبحث العلمي وأولوياته في الجامعة ووسائل تنفيذها.</li>
                    <li>وضع مشروع خطة البحث العلمي وأسس التعاون والتنسيق مع الجهات الأخرى ذات الصلة بالبحث العلمي.</li>
                    <li>إعداد مشروعات التعليمات اللازمة لتنظيم شؤون البحث العلمي وتشجيعه وتنسيقه ودعمه ومتابعته وتقييمه
                        ونشره.</li>
                    <li>وضع وتنفيذ الأسس والشروط اللازمة لحفظ حقوق الجامعة والباحثين في البحوث العلمية التي تجري في
                        الجامعة أو بمشاركتها أو بنتائج هذه البحوث.</li>
                    <li>مناقشة مخصصات البحث العلمي والتوصية لإدراجها ضمن موازنة الجامعة.</li>
                    <li>التوصية بقديم الدعم لنشر المؤلفات القيمة والنظر في إجازة المخطوطات المؤلفة والمحققة والمترجمة
                        بعد تقييمها.</li>
                    <li>النظر في مشروعات البحوث العلمية وإقرارها.</li>
                    <li>إقرار التقرير السنوي لعمادة البحث العلمي.</li>
                    <li>النظر في أي أمور أخرى تتعلق بالبحث العلمي.</li>
                </ul>
            </div>

            <div class="col-md-6 list">
                <h2>الترجمة والنشر</h2>
                <p>يشرف على إعداد لوائح وتعليمات دعم الإنتاج العلمي ونشره في الجامعة وستقوم العمادة باستقبال الأبحاث
                    والكتب والدراسات المؤلفة والمترجمة وتقويمها، وإعدادها للنشر ضمن آلية تضمن حقوق الجامعة من ناحية،
                    وحقوق المؤلفين من ناحية أخرى.</p>
            </div>
        </div>
    </div>
</div>




<app-footer-ar></app-footer-ar>