<app-navbar-en></app-navbar-en>


<header>
    <div class="background"
        style="background-image: url({{news.image}}); background-repeat: no-repeat; background-size: cover;">
    </div>
    <div class="mask">
        <div class="container">
            <div class="context typewriter">
                <h1><span>News</span></h1>
            </div>
        </div>
    </div>
    <div class="arrow"></div>
</header>


<div class="para">
    <div class="container">
        <p>{{news.paragraph_english}}</p>

    </div>

</div>

<app-footer-en></app-footer-en>