<app-navbar-ar></app-navbar-ar>

<header>
    <div class="background"></div>
    <div class="mask">
        <div class="container">
            <div class="context typewriter">
                <h1><span>Feedback</span></h1>
            </div>
        </div>
    </div>
    <div class="arrow"></div>
</header>


<div class="feedback_buttons d-none d-sm-none d-md-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-4" routerLink="/ar/feedback/0">
                <div class="space">
                    <img src="../../../../../assets/images/icons/icons/Suggestion.svg" alt="">

                    <h4>اقتراحات</h4>
                </div>
            </div>
            <div class="col-lg-4" routerLink="/ar/feedback/1">
                <div class="space">
                    <img src="../../../../../assets/images/icons/icons/Query.svg" alt="">

                    <h4>استفسارات</h4>
                </div>
            </div>
            <div class="col-lg-4" routerLink="/ar/feedback/2">
                <div class="space">
                    <img src="../../../../../assets/images/icons/icons/Note.svg" alt="">

                    <h4>ملاحظات</h4>
                </div>
            </div>
        </div>

        <div class="row" style="margin: 0 170px">
            <div class="col-lg-6" routerLink="/ar/feedback/3">
                <div class="space">
                    <img src="../../../../../assets/images/icons/icons/Report.svg" alt="">

                    <h4>ابلاغات</h4>
                </div>
            </div>
            <div class="col-lg-6" routerLink="/ar/feedback/4">
                <div class="space">
                    <img src="../../../../../assets/images/icons/icons/Complaint.svg" alt="">

                    <h4>شكاوي</h4>
                </div>
            </div>
        </div>
        <br>
        <br>
        <p style="text-align: center;">هذه الصفحه تصميم وتطوير: نيفين شنودة واحلام سامي</p>
    </div>
</div>


<div class="feedback_buttons d-lg-none d-xl-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-4" routerLink="/ar/feedback/0">
                <div class="space">
                    <img src="../../../../../assets/images/icons/icons/Suggestion.svg" alt="">

                    <h4>اقتراحات</h4>
                </div>
            </div>
            <div class="col-lg-4" routerLink="/ar/feedback/1">
                <div class="space">
                    <img src="../../../../../assets/images/icons/icons/Query.svg" alt="">

                    <h4>استفسارات</h4>
                </div>
            </div>
            <div class="col-lg-4" routerLink="/ar/feedback/2">
                <div class="space">
                    <img src="../../../../../assets/images/icons/icons/Note.svg" alt="">

                    <h4>ملاحظات</h4>
                </div>
            </div>
            <div class="col-lg-4" routerLink="/ar/feedback/3">
                <div class="space">
                    <img src="../../../../../assets/images/icons/icons/Report.svg" alt="">

                    <h4>ابلاغات</h4>
                </div>
            </div>
            <div class="col-lg-4" routerLink="/ar/feedback/4">
                <div class="space">
                    <img src="../../../../../assets/images/icons/icons/Complaint.svg" alt="">

                    <h4>شكاوي</h4>
                </div>
            </div>
        </div>
        <br>
        <br>
        <p style="text-align: center;">هذه الصفحه تصميم وتطوير: نيفين شنودة واحلام سامي</p>
    </div>
</div>



<app-footer-ar></app-footer-ar>